In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import os

In [14]:
os.chdir('J:/tmaplink2021/전처리/ETA/01')
files = os.listdir()
files

['TM_P1_20210119_hy_ETA15.csv',
 'TM_P1_20210121_hy_ETA15.csv',
 'TM_P1_20210122_hy_ETA15.csv',
 'TM_P1_20210123_hy_ETA15.csv',
 'TM_P1_20210124_hy_ETA15.csv']

In [2]:
def times(data):
    return data[-8:]

In [11]:
df.ETA15[0][-8:]

'00:00:00'

In [5]:
df = pd.read_csv('TM_P1_20210119_hy_ETA15.csv', nrows=10)

In [13]:
df.ETA15.apply(times)

0    00:00:00
1    00:00:00
2    00:00:00
3    00:00:00
4    00:00:00
5    00:00:00
6    00:00:00
7    00:00:00
8    00:00:00
9    00:00:00
Name: ETA15, dtype: object

In [16]:
df_mergelist1 = []

for file in files:
    tmp = pd.read_csv(file)
    print(file)
    tmp['time'] = tmp.ETA15.apply(times)
    df_mergelist1.append(tmp)

df_merge1 = pd.concat(df_mergelist1)
df_merge1

TM_P1_20210119_hy_ETA15.csv
TM_P1_20210121_hy_ETA15.csv
TM_P1_20210122_hy_ETA15.csv
TM_P1_20210123_hy_ETA15.csv
TM_P1_20210124_hy_ETA15.csv

,obu_id,group_id,veh_type,seq,link_id,from_vlink_id,datetime,to_vlink_id,v_link_id,in_time,...,out_time,our_speed,length,speed,emd_code,road_rank,max_speed,link_type,road_type,time
0,108320210119000507052S00,1,TM,2,571728158,57170310602,2021-01-19 00:06:17,57172417201,57172815801,617,...,632,28.106400,117.11,26.85,1106082,104,30,32768,0,00:00:00
1,108320210119000507052S00,1,TM,3,571724172,57172815801,2021-01-19 00:06:33,57171774801,57172417201,633,...,703,20.026800,166.89,19.12,1106082,104,40,32768,0,00:00:00
2,108320210119000507052S00,1,TM,4,571717748,57172417201,2021-01-19 00:07:04,57171774702,57171774801,704,...,732,27.581143,214.52,26.81,1106082,104,40,32768,0,00:00:00
3,108320210119000507052S00,1,TM,5,571717747,57171774801,2021-01-19 00:07:33,57171195001,57171774702,733,...,750,30.760941,145.26,28.93,1106082,104,40,32768,0,00:00:00
4,108320210119000507052S00,1,TM,6,571711950,57171774702,2021-01-19 00:07:51,57171194802,57171195001,751,...,753,48.312000,26.84,30.40,1106082,103,60,32768,0,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5936767,105720210124131453110S01,1,TM,26,478700841,47874090602,2021-01-24 13:24:04,47870084002,47870084101,132404,...,132423,7.550526,39.85,7.17,1101060,104,60,32768,0,13:15:00
5936768,105720210124131453110S01,1,TM,27,478700840,47870084101,2021-01-24 13:24:24,47870074001,47870084002,132424,...,132432,14.697000,32.66,14.70,1101060,104,60,4,0,13:15:00
5936769,105720210124131453110S01,1,TM,28,478700740,47870084002,2021-01-24 13:24:33,47870084201,47870074001,132433,...,132434,62.136000,17.26,26.92,1101060,104,60,4,0,13:15:00
5936770,105720210124131453110S01,1,TM,29,478700842,47870074001,2021-01-24 13:24:35,47870483301,47870084201,132435,...,132437,47.034000,26.13,29.27,1101061,104,60,4,0,13:15:00
5936771,105720210124131453110S01,1,TM,30,478704833,47870084201,2021-01-24 13:24:38,47875277201,47870483301,132438,...,132445,30.522857,59.35,28.56,1101061,104,60,32768,0,13:15:00

In [17]:
os.chdir('J:/tmaplink2021/전처리/ETA/04')
files = os.listdir()

df_mergelist4 = []

for file in files:
    tmp = pd.read_csv(file)
    tmp['time'] = tmp.ETA15.apply(times)
    df_mergelist4.append(tmp)

df_merge4 = pd.concat(df_mergelist4)
df_merge4

,obu_id,group_id,veh_type,seq,link_id,from_vlink_id,datetime,to_vlink_id,v_link_id,in_time,...,out_time,our_speed,length,speed,emd_code,road_rank,max_speed,link_type,road_type,time
0,105920210419153001736S00,1,TM,2,571740212,57171930501,2021-04-19 15:31:10,57174020001,57174021201,153110,...,153113,23.484000,19.57,15.86,1101073,104,30,32768,0,15:30:00
1,105920210419153001736S00,1,TM,3,571740200,57174021201,2021-04-19 15:31:14,57174020601,57174020001,153114,...,153116,43.830000,24.35,29.22,1101073,104,30,4,0,15:30:00
2,105920210419153001736S00,1,TM,4,571740206,57174020001,2021-04-19 15:31:17,57172616701,57174020601,153117,...,153125,20.043000,44.54,18.82,1101073,104,60,64,0,15:30:00
3,105920210419153001736S00,1,TM,5,571726167,57174020601,2021-04-19 15:31:26,57173795401,57172616701,153126,...,153209,13.413767,160.22,12.97,1101073,104,60,32768,0,15:30:00
4,105920210419153001736S00,1,TM,6,571737954,57172616701,2021-04-19 15:32:10,57170020002,57173795401,153210,...,153211,32.724000,9.09,16.37,1101073,104,60,32768,0,15:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8794793,105820210423224310640S01,1,TM,103,571744130,57174413201,2021-04-23 23:29:10,57171708502,57174413001,232910,...,233030,2.622600,58.28,2.59,1101063,104,0,4,0,23:15:00
8794794,105820210423224310640S01,1,TM,104,571717085,57174413001,2021-04-23 23:30:31,57173993201,57171708502,233031,...,233153,5.229220,119.11,5.20,1101067,103,60,32768,0,23:30:00
8794795,105820210423224310640S01,1,TM,105,571739932,57171708502,2021-04-23 23:31:54,57171119302,57173993201,233154,...,233240,8.701826,111.19,8.48,1101067,103,60,32768,0,23:30:00
8794796,105820210423224310640S01,1,TM,106,571711193,57173993201,2021-04-23 23:32:41,57171653001,57171119302,233241,...,233348,15.916836,296.23,15.60,1101067,103,60,32768,0,23:30:00
8794797,105820210423224310640S01,1,TM,107,571716530,57171119302,2021-04-23 23:33:49,57171652601,57171653001,233349,...,233354,5.364000,7.45,5.36,1101067,103,60,32768,0,23:30:00

In [4]:
df_merge11.to_csv('../11/TM_P1_202111_hy_ETA15.csv', index=False)
# df_merge4.to_csv('../04/TM_P1_202104_hy_ETA15.csv', index=False)
# df_14 = pd.concat([df_merge1, df_merge4])
# df_14.to_csv('../TM_P1_2021_01_04_hy_ETA15.csv', index=False)

In [5]:
os.chdir('J:/tmaplink2021/전처리/ETA/09')
files = os.listdir()

df_mergelist9 = []

for file in files:
    tmp = pd.read_csv(file)
    print(file)
    tmp['time'] = tmp.ETA15.apply(times)
    df_mergelist9.append(tmp)

df_merge9 = pd.concat(df_mergelist9)
df_merge9

TM_P1_20210913_hy_ETA15.csv
TM_P1_20210914_hy_ETA15.csv
TM_P1_20210915_hy_ETA15.csv
TM_P1_20210916_hy_ETA15.csv
TM_P1_20210917_hy_ETA15.csv
TM_P1_20210918_hy_ETA15.csv
TM_P1_20210919_hy_ETA15.csv

,obu_id,group_id,veh_type,seq,link_id,from_vlink_id,datetime,to_vlink_id,v_link_id,in_time,...,out_time,our_speed,length,speed,emd_code,road_rank,max_speed,link_type,road_type,time
0,105020210913003048674S00,1,TM,2,571660226,57266408501,2021-09-13 00:59:23,57166908401,57166022601,5923,...,5932,121.404000,303.51,108.09,1124069,102,80,1,1,00:45:00
1,105020210913003048674S00,1,TM,3,571669084,57166022601,2021-09-13 00:59:33,57166908301,57166908401,5933,...,10004,108.823355,937.09,105.37,1124069,102,80,1,0,00:45:00
2,105020210913003048674S00,1,TM,4,571669083,57166908401,2021-09-13 01:00:05,57165562701,57166908301,10005,...,10043,103.550211,1093.03,100.00,1124069,102,0,1,0,01:00:00
3,105020210913003048674S00,1,TM,5,571655627,57166908301,2021-09-13 01:00:44,57164764401,57165562701,10044,...,10107,106.866783,682.76,102.86,1123075,102,80,1,0,01:00:00
4,105020210913003048674S00,1,TM,6,571647644,57165562701,2021-09-13 01:01:08,57161123301,57164764401,10108,...,10129,108.963429,635.62,102.97,1123075,102,80,1,2,01:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6667796,108620210919231359385S00,1,TM,111,478844605,47880275102,2021-09-19 23:44:10,47884450302,47884460501,234410,...,234412,65.970000,36.65,34.04,1112058,104,70,32768,0,23:30:00
6667797,108620210919231359385S00,1,TM,112,478844503,47884460501,2021-09-19 23:44:13,47884955701,47884450302,234413,...,234427,41.729143,162.28,40.52,1112058,104,70,32768,0,23:30:00
6667798,108620210919231359385S00,1,TM,113,478849557,47884450302,2021-09-19 23:44:28,47881005902,47884955701,234428,...,234429,117.252000,32.57,45.43,1112058,104,70,32768,0,23:30:00
6667799,108620210919231359385S00,1,TM,114,478810059,47884955701,2021-09-19 23:44:30,47880272302,47881005902,234430,...,234454,19.755000,131.70,17.89,1112058,104,70,32768,0,23:30:00
6667800,108620210919231359385S00,1,TM,116,478810872,47880272302,2021-09-19 23:44:55,47881087701,47881087201,234455,...,234507,14.328000,47.76,13.59,1112074,103,60,32768,0,23:30:00

In [3]:
os.chdir('J:/tmaplink2021/전처리/ETA/11')
files = os.listdir()

df_mergelist11 = []

for file in files:
    tmp = pd.read_csv(file)
    print(file)
    tmp['time'] = tmp.ETA15.apply(times)
    df_mergelist11.append(tmp)

df_merge11 = pd.concat(df_mergelist11)
df_merge11

TM_P1_20211115_hy_ETA15.csv
TM_P1_20211116_hy_ETA15.csv
TM_P1_20211117_hy_ETA15.csv
TM_P1_20211118_hy_ETA15.csv
TM_P1_20211119_hy_ETA15.csv
TM_P1_20211120_hy_ETA15.csv
TM_P1_20211121_hy_ETA15.csv

,obu_id,group_id,veh_type,seq,link_id,from_vlink_id,datetime,to_vlink_id,v_link_id,in_time,...,out_time,our_speed,length,speed,emd_code,road_rank,max_speed,link_type,road_type,time
0,108320211115002118463S00,1,TM,2,581162600,58115736402,2021-11-15 00:39:05,58116259902,58116260001,3905,...,3917,59.052000,196.84,52.88,1110064,104,70,32768,0,00:30:00
1,108320211115002118463S00,1,TM,3,581162599,58116260001,2021-11-15 00:39:18,58115169701,58116259902,3918,...,4012,2.912667,43.69,2.86,1110064,104,70,32768,0,00:30:00
2,108320211115002118463S00,1,TM,4,581151697,58116259902,2021-11-15 00:40:13,58114956602,58115169701,4013,...,4020,36.329143,70.64,31.30,1110064,104,70,32768,0,00:30:00
3,108320211115002118463S00,1,TM,5,581149566,58115169701,2021-11-15 00:40:21,58111013301,58114956602,4021,...,4042,41.727429,243.41,41.06,1110065,104,70,32768,0,00:30:00
4,108320211115002118463S00,1,TM,6,581110133,58114956602,2021-11-15 00:40:43,58111013002,58111013301,4043,...,4059,90.852750,403.79,83.06,1110065,104,60,32768,0,00:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9003222,105820211121231840194S00,1,TM,60,478857128,47880203001,2021-11-21 23:31:22,47881030402,47885712801,233122,...,233149,25.018667,187.64,24.37,1108081,104,60,32768,0,23:30:00
9003223,105820211121231840194S00,1,TM,61,478810304,47885712801,2021-11-21 23:31:50,47884677001,47881030402,233150,...,233208,26.916000,134.58,25.13,1108081,104,60,32768,0,23:30:00
9003224,105820211121231840194S00,1,TM,62,478846770,47881030402,2021-11-21 23:32:09,47884924601,47884677001,233209,...,233239,29.029200,241.91,28.19,1108081,104,60,32768,0,23:30:00
9003225,105820211121231840194S00,1,TM,63,478849246,47884677001,2021-11-21 23:32:40,47886184602,47884924601,233240,...,233247,25.971429,50.50,22.43,1108081,104,60,32768,0,23:30:00
9003226,105820211121231840194S00,1,TM,64,478861846,47884924601,2021-11-21 23:32:48,57180841902,47886184602,233248,...,233252,25.929000,28.81,22.70,1108064,104,40,32768,0,23:30:00

In [2]:
df1 = pd.read_csv('J:/tmaplink2021/전처리/ETA/01/TM_P1_202101_hy_ETA15.csv')

In [3]:
df4 = pd.read_csv('J:/tmaplink2021/전처리/ETA/04/TM_P1_202104_hy_ETA15.csv')

In [4]:
df14 = pd.concat([df1, df4])

In [6]:
df14.to_csv('J:/tmaplink2021/전처리/ETA/TM_P1_2021_0104_hy_ETA15.csv', index=False)

In [3]:
df9 = pd.read_csv('J:/tmaplink2021/전처리/ETA/09/TM_P1_202109_hy_ETA15.csv')

In [4]:
df14 = pd.read_csv('J:/tmaplink2021/전처리/ETA/TM_P1_2021_0104_hy_ETA15.csv')

In [5]:
df149 = pd.concat([df14, df9])

In [8]:
df149.to_csv('J:/tmaplink2021/전처리/ETA/TM_P1_2021_010409_hy_ETA15.csv', index=False)

In [11]:
df149.shape

(133239546, 23)

In [2]:
df11 = pd.read_csv('J:/tmaplink2021/전처리/ETA/11/TM_P1_202111_hy_ETA15.csv')

In [3]:
df149 = pd.read_csv('J:/tmaplink2021/전처리/ETA/TM_P1_2021_010409_hy_ETA15.csv')

MemoryError: Unable to allocate 2.98 GiB for an array with shape (3, 133239546) and data type float64

In [ ]:
df14911 = pd.concat([df149, df11])

In [ ]:
df14911.to_csv('J:/tmaplink2021/전처리/ETA/TM_P1_2021_hy_ETA15.csv', index=False)