In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [3]:
df = pd.read_csv('J://링크경로한양도성/TM_P1_POLYGON_20211014_hanyang_all_time_traffic.csv')
df

             link_id                  EIT  obu_id
0               -1.0  2021-10-14 00:00:00     116
1               -1.0  2021-10-14 00:05:00     112
2               -1.0  2021-10-14 00:10:00     158
3               -1.0  2021-10-14 00:15:00     153
4               -1.0  2021-10-14 00:20:00     184
...              ...                  ...     ...
2104006  928850977.0  2021-10-14 22:55:00       3
2104007  928850977.0  2021-10-14 23:00:00       1
2104008  928850977.0  2021-10-14 23:45:00       1
2104009  928858208.0  2021-10-14 09:15:00       1
2104010  928858208.0  2021-10-14 18:15:00       1

[2104011 rows x 3 columns]

In [4]:
df['EIT'][0]

'2021-10-14 00:00:00'

In [8]:
pd.to_datetime(df['EIT'][0]).between(datetime(2021,10,13,00,5,00), datetime(2021,10,14,00,5,00))

AttributeError: 'Timestamp' object has no attribute 'between'

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2104011 entries, 0 to 2104010
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   link_id  float64
 1   EIT      object
 2   obu_id   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 48.2+ MB

In [11]:
(pd.to_datetime(df['EIT'][0]) > datetime(2021,10,13,00,5,00)) & (pd.to_datetime(df['EIT'][0]) < datetime(2021,10,14,00,5,00))

True

In [12]:
df['EIT2'] = pd.to_datetime(df['EIT'])
df

             link_id                  EIT  obu_id                EIT2
0               -1.0  2021-10-14 00:00:00     116 2021-10-14 00:00:00
1               -1.0  2021-10-14 00:05:00     112 2021-10-14 00:05:00
2               -1.0  2021-10-14 00:10:00     158 2021-10-14 00:10:00
3               -1.0  2021-10-14 00:15:00     153 2021-10-14 00:15:00
4               -1.0  2021-10-14 00:20:00     184 2021-10-14 00:20:00
...              ...                  ...     ...                 ...
2104006  928850977.0  2021-10-14 22:55:00       3 2021-10-14 22:55:00
2104007  928850977.0  2021-10-14 23:00:00       1 2021-10-14 23:00:00
2104008  928850977.0  2021-10-14 23:45:00       1 2021-10-14 23:45:00
2104009  928858208.0  2021-10-14 09:15:00       1 2021-10-14 09:15:00
2104010  928858208.0  2021-10-14 18:15:00       1 2021-10-14 18:15:00

[2104011 rows x 4 columns]

In [13]:
m_peak = df[(df['EIT2'] >= datetime(2021,10,14,7,0,00)) & (df['EIT2'] <= datetime(2021,10,14,9,0,00))]
d_peak = df[(df['EIT2'] >= datetime(2021,10,14,17,0,00)) & (df['EIT2'] <= datetime(2021,10,14,19,0,00))]
nonpeak = df[(df['EIT2'] >= datetime(2021,10,14,12,0,00)) & (df['EIT2'] <= datetime(2021,10,14,14,0,00))]
nonpeak

             link_id                  EIT  obu_id                EIT2
144             -1.0  2021-10-14 12:00:00     128 2021-10-14 12:00:00
145             -1.0  2021-10-14 12:05:00      99 2021-10-14 12:05:00
146             -1.0  2021-10-14 12:10:00      72 2021-10-14 12:10:00
147             -1.0  2021-10-14 12:15:00      60 2021-10-14 12:15:00
148             -1.0  2021-10-14 12:20:00      61 2021-10-14 12:20:00
...              ...                  ...     ...                 ...
2102964  928725338.0  2021-10-14 12:20:00       1 2021-10-14 12:20:00
2103393  928810990.0  2021-10-14 13:10:00       1 2021-10-14 13:10:00
2103394  928810990.0  2021-10-14 13:15:00       1 2021-10-14 13:15:00
2103595  928842347.0  2021-10-14 13:10:00       1 2021-10-14 13:10:00
2103596  928842347.0  2021-10-14 13:15:00       1 2021-10-14 13:15:00

[30785 rows x 4 columns]

In [15]:
nonpeak.sort_values(by='obu_id', ascending=False)

             link_id                  EIT  obu_id                EIT2
144             -1.0  2021-10-14 12:00:00     128 2021-10-14 12:00:00
145             -1.0  2021-10-14 12:05:00      99 2021-10-14 12:05:00
146             -1.0  2021-10-14 12:10:00      72 2021-10-14 12:10:00
148             -1.0  2021-10-14 12:20:00      61 2021-10-14 12:20:00
147             -1.0  2021-10-14 12:15:00      60 2021-10-14 12:15:00
...              ...                  ...     ...                 ...
1029659  563410686.0  2021-10-14 12:50:00       1 2021-10-14 12:50:00
1029652  563410118.0  2021-10-14 12:55:00       1 2021-10-14 12:55:00
1029650  563410114.0  2021-10-14 12:55:00       1 2021-10-14 12:55:00
1029642  563409266.0  2021-10-14 12:05:00       1 2021-10-14 12:05:00
2103596  928842347.0  2021-10-14 13:15:00       1 2021-10-14 13:15:00

[30785 rows x 4 columns]

In [17]:
df2 = pd.read_csv('J://링크경로한양도성/TM_P1_POLYGON_20211014_hanyang_all_EIT_5.csv')
df2

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id,sigungu_id,emd_id,link_id,in_time_dt,out_time_dt,EIT,EIT2
0,0,105020211014002115225S00,1.0,0.0,-1.000000e+00,2021-10-14 00:21:21,2021-10-14 00:21:21,-1.0,-1.0,-1.0,-1.0,2021-10-14 00:21:21,2021-10-14 00:21:21,2021-10-14 00:20:00,2021-10-14 00:20:00
1,1,105020211014002115225S00,1.0,1.0,5.717449e+10,2021-10-14 00:21:22,2021-10-14 00:21:24,11000.0,11010.0,1101063.0,571744890.0,2021-10-14 00:21:22,2021-10-14 00:21:24,2021-10-14 00:20:00,2021-10-14 00:20:00
2,2,105020211014002115225S00,1.0,2.0,5.717449e+10,2021-10-14 00:21:25,2021-10-14 00:21:27,11000.0,11010.0,1101063.0,571744891.0,2021-10-14 00:21:25,2021-10-14 00:21:27,2021-10-14 00:20:00,2021-10-14 00:20:00
3,3,105020211014002115225S00,1.0,3.0,5.717441e+10,2021-10-14 00:21:28,2021-10-14 00:21:31,11000.0,11010.0,1101063.0,571744118.0,2021-10-14 00:21:28,2021-10-14 00:21:31,2021-10-14 00:20:00,2021-10-14 00:20:00
4,4,105020211014002115225S00,1.0,4.0,5.717420e+10,2021-10-14 00:21:32,2021-10-14 00:21:33,11000.0,11010.0,1101063.0,571742004.0,2021-10-14 00:21:32,2021-10-14 00:21:33,2021-10-14 00:20:00,2021-10-14 00:20:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8560117,8560117,105520211014225942879S00,1.0,186.0,4.778105e+10,2021-10-14 23:48:28,2021-10-14 23:49:00,31000.0,31101.0,3110154.0,477810507.0,2021-10-14 23:48:28,2021-10-14 23:49:00,2021-10-14 23:45:00,2021-10-14 23:45:00
8560118,8560118,105520211014225942879S00,1.0,187.0,4.778106e+10,2021-10-14 23:49:01,2021-10-14 23:49:31,31000.0,31101.0,3110151.0,477810604.0,2021-10-14 23:49:01,2021-10-14 23:49:31,2021-10-14 23:45:00,2021-10-14 23:45:00
8560119,8560119,105520211014225942879S00,1.0,188.0,4.778424e+10,2021-10-14 23:49:32,2021-10-14 23:49:32,31000.0,31101.0,3110151.0,477842370.0,2021-10-14 23:49:32,2021-10-14 23:49:32,2021-10-14 23:45:00,2021-10-14 23:45:00
8560120,8560120,105520211014225942879S00,1.0,189.0,4.778424e+10,2021-10-14 23:49:33,2021-10-14 23:49:34,31000.0,31101.0,3110151.0,477842365.0,2021-10-14 23:49:33,2021-10-14 23:49:34,2021-10-14 23:45:00,2021-10-14 23:45:00
8560121,8560121,105520211014225942879S00,1.0,190.0,-1.000000e+00,2021-10-14 23:49:35,2021-10-14 23:49:42,-1.0,-1.0,-1.0,-1.0,2021-10-14 23:49:35,2021-10-14 23:49:42,2021-10-14 23:45:00,2021-10-14 23:45:00

In [18]:
df2['EIT2'] = pd.to_datetime(df2['EIT2'])
m_peak = df2[(df2['EIT2'] >= datetime(2021,10,14,7,0,00)) & (df2['EIT2'] <= datetime(2021,10,14,9,0,00))]
d_peak = df2[(df2['EIT2'] >= datetime(2021,10,14,17,0,00)) & (df2['EIT2'] <= datetime(2021,10,14,19,0,00))]
nonpeak = df2[(df2['EIT2'] >= datetime(2021,10,14,12,0,00)) & (df2['EIT2'] <= datetime(2021,10,14,14,0,00))]
nonpeak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id,sigungu_id,emd_id,link_id,in_time_dt,out_time_dt,EIT,EIT2
1000052,1000052,105920211014064604592S00,2.0,565.0,6.357036e+10,2021-10-14 12:00:23,2021-10-14 12:00:26,38000.0,38090.0,3809036.0,635703604.0,2021-10-14 12:00:23,2021-10-14 12:00:26,2021-10-14 12:00:00,2021-10-14 12:00:00
1000053,1000053,105920211014064604592S00,2.0,566.0,6.357083e+10,2021-10-14 12:00:27,2021-10-14 12:00:29,38000.0,38090.0,3809036.0,635708317.0,2021-10-14 12:00:27,2021-10-14 12:00:29,2021-10-14 12:00:00,2021-10-14 12:00:00
1000054,1000054,105920211014064604592S00,2.0,567.0,6.357083e+10,2021-10-14 12:00:30,2021-10-14 12:00:33,38000.0,38090.0,3809036.0,635708316.0,2021-10-14 12:00:30,2021-10-14 12:00:33,2021-10-14 12:00:00,2021-10-14 12:00:00
1000055,1000055,105920211014064604592S00,2.0,568.0,6.357037e+10,2021-10-14 12:00:34,2021-10-14 12:00:34,38000.0,38090.0,3809036.0,635703749.0,2021-10-14 12:00:34,2021-10-14 12:00:34,2021-10-14 12:00:00,2021-10-14 12:00:00
1000056,1000056,105920211014064604592S00,2.0,569.0,6.357038e+10,2021-10-14 12:00:35,2021-10-14 12:00:44,38000.0,38090.0,3809057.0,635703750.0,2021-10-14 12:00:35,2021-10-14 12:00:44,2021-10-14 12:00:00,2021-10-14 12:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978611,3978611,105920211014111851890S00,1.0,120.0,4.787256e+10,2021-10-14 12:08:20,2021-10-14 12:08:32,11000.0,11010.0,1101053.0,478725615.0,2021-10-14 12:08:20,2021-10-14 12:08:32,2021-10-14 12:05:00,2021-10-14 12:05:00
3978612,3978612,105920211014111851890S00,1.0,121.0,4.787259e+10,2021-10-14 12:08:33,2021-10-14 12:08:57,11000.0,11010.0,1101053.0,478725942.0,2021-10-14 12:08:33,2021-10-14 12:08:57,2021-10-14 12:05:00,2021-10-14 12:05:00
3978613,3978613,105920211014111851890S00,1.0,122.0,4.787074e+10,2021-10-14 12:08:58,2021-10-14 12:09:02,11000.0,11010.0,1101053.0,478707441.0,2021-10-14 12:08:58,2021-10-14 12:09:02,2021-10-14 12:05:00,2021-10-14 12:05:00
3978614,3978614,105920211014111851890S00,1.0,123.0,4.787032e+10,2021-10-14 12:09:03,2021-10-14 12:09:14,11000.0,11010.0,1101053.0,478703227.0,2021-10-14 12:09:03,2021-10-14 12:09:14,2021-10-14 12:05:00,2021-10-14 12:05:00
3978615,3978615,105920211014111851890S00,1.0,124.0,-1.000000e+00,2021-10-14 12:09:15,2021-10-14 12:09:24,-1.0,-1.0,-1.0,-1.0,2021-10-14 12:09:15,2021-10-14 12:09:24,2021-10-14 12:05:00,2021-10-14 12:05:00

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8560122 entries, 0 to 8560121
Data columns (total 15 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   obu_id       object
 2   grp_id       float64
 3   seq          float64
 4   v_link_id    float64
 5   in_time      object
 6   out_time     object
 7   sido_id      float64
 8   sigungu_id   float64
 9   emd_id       float64
 10  link_id      float64
 11  in_time_dt   object
 12  out_time_dt  object
 13  EIT          object
 14  EIT2         datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(1), object(6)
memory usage: 979.6+ MB

In [20]:
link = pd.read_csv('D:/서울시신호/데이터/GIS/한양도성/한양도성진짜/lv6_link.csv', encoding='euc-kr')
link

,link_id,up_f_node,up_t_node,dw_f_node,dw_t_node,max_speed,road_name,road_no,road_rank,link_type,...,up_v_link,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source
0,478700031,221675,221676,0,0,0,NaN,0,104,32768,...,47870003101,0,20211231,NaN,NaN,420.0,NaN,NaN,478700031,2
1,478700040,221717,222809,222809,221717,10,동순라길,0,104,32768,...,47870004001,47870004002,20171231,NaN,NaN,NaN,NaN,NaN,0,0
2,478700041,221716,222809,222809,221716,10,동순라길,0,104,32768,...,47870004101,47870004102,20171231,NaN,NaN,NaN,NaN,NaN,0,0
3,478700152,221661,221662,221662,221661,0,사직로8길,0,104,32768,...,47870015201,47870015202,20211231,NaN,NaN,420.0,NaN,NaN,478700152,2
4,478700175,221663,221664,0,0,60,새문안로5길,0,104,32768,...,47870017501,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,900000170,900085,221715,0,0,30,NaN,0,104,516,...,90000017001,0,20181231,NaN,NaN,500.0,NaN,0.0,478749210,2
1568,900000171,563222,900085,0,0,30,NaN,0,104,516,...,90000017101,0,20181231,NaN,NaN,500.0,NaN,0.0,478749210,2
1569,928701529,1730120,222798,0,0,30,세종대로18길,0,104,32768,...,92870152901,0,20201231,NaN,NaN,420.0,NaN,NaN,478701529,2
1570,928706548,223049,1730123,1730123,223049,30,북촌로5길,0,104,32768,...,92870654801,92870654802,20201231,NaN,NaN,420.0,NaN,NaN,478706548,2
1571,478704587,223364,224072,224072,223364,60,마른내로,0,104,32768,...,47870458701,47870458702,20171231,NaN,NaN,NaN,NaN,NaN,0,0

In [27]:
m_m_peak = pd.merge(left=m_peak, right=link, how='left', on='link_id')
m_m_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,up_v_link,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source
0,169640,105720211014014137688S00,2.0,539.0,4.787008e+10,2021-10-14 07:00:03,2021-10-14 07:00:04,11000.0,11010.0,1101054.0,...,4.787008e+10,4.787008e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1,169641,105720211014014137688S00,2.0,540.0,4.787045e+10,2021-10-14 07:00:05,2021-10-14 07:00:20,11000.0,11010.0,1101054.0,...,4.787045e+10,4.787045e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,169642,105720211014014137688S00,2.0,541.0,4.787523e+10,2021-10-14 07:00:21,2021-10-14 07:00:30,11000.0,11010.0,1101054.0,...,4.787523e+10,4.787523e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3,169643,105720211014014137688S00,2.0,542.0,4.787523e+10,2021-10-14 07:00:31,2021-10-14 07:00:51,11000.0,11010.0,1101061.0,...,4.787523e+10,4.787523e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
4,169644,105720211014014137688S00,2.0,543.0,4.787048e+10,2021-10-14 07:00:52,2021-10-14 07:00:54,11000.0,11010.0,1101061.0,...,4.787048e+10,4.787048e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354327,3254753,105820211014085708798S00,1.0,3.0,4.788605e+10,2021-10-14 09:02:16,2021-10-14 09:02:24,11000.0,11120.0,1112058.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1354328,3254754,105820211014085708798S00,1.0,4.0,4.788537e+10,2021-10-14 09:02:25,2021-10-14 09:04:45,11000.0,11120.0,1112058.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1354329,3254755,105820211014085708798S00,1.0,5.0,4.788029e+10,2021-10-14 09:04:46,2021-10-14 09:04:52,11000.0,11120.0,1112058.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1354330,3254756,105820211014085708798S00,1.0,6.0,4.788027e+10,2021-10-14 09:04:53,2021-10-14 09:04:56,11000.0,11120.0,1112058.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1354331,3254757,105820211014085708798S00,1.0,7.0,4.788502e+10,2021-10-14 09:04:57,2021-10-14 09:05:04,11000.0,11120.0,1112052.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
m_m_peak.columns

Index(['Unnamed: 0', 'obu_id', 'grp_id', 'seq', 'v_link_id', 'in_time',
       'out_time', 'sido_id_x', 'sigungu_id_x', 'emd_id_x', 'link_id',
       'in_time_dt', 'out_time_dt', 'EIT', 'EIT2', 'up_f_node', 'up_t_node',
       'dw_f_node', 'dw_t_node', 'max_speed', 'road_name', 'road_no',
       'road_rank', 'link_type', 'pavement', 'road_type', 'facil_name',
       'tg_name', 'up_lanes', 'dw_lanes', 'lanes', 'oneway', 'length',
       'up_its_id', 'dw_its_id', 'sido_id_y', 'sigungu_id_y', 'emd_id_y',
       'up_v_link', 'dw_v_link', 'm_date', 'rc_id', 'rc_name', 'rc_hist',
       'rc_date', 'rc_length', 'old_link_i', 'source'],
      dtype='object')

In [25]:
m_m_peak['max_speed']

0          60.0
1          60.0
2          60.0
3          60.0
4          60.0
           ...
1354327     NaN
1354328     NaN
1354329     NaN
1354330     NaN
1354331     NaN
Name: max_speed, Length: 1354332, dtype: float64

In [28]:
m_m_peak.dropna(inplace=True, subset=['up_v_link'])
m_m_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,up_v_link,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source
0,169640,105720211014014137688S00,2.0,539.0,4.787008e+10,2021-10-14 07:00:03,2021-10-14 07:00:04,11000.0,11010.0,1101054.0,...,4.787008e+10,4.787008e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1,169641,105720211014014137688S00,2.0,540.0,4.787045e+10,2021-10-14 07:00:05,2021-10-14 07:00:20,11000.0,11010.0,1101054.0,...,4.787045e+10,4.787045e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,169642,105720211014014137688S00,2.0,541.0,4.787523e+10,2021-10-14 07:00:21,2021-10-14 07:00:30,11000.0,11010.0,1101054.0,...,4.787523e+10,4.787523e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3,169643,105720211014014137688S00,2.0,542.0,4.787523e+10,2021-10-14 07:00:31,2021-10-14 07:00:51,11000.0,11010.0,1101061.0,...,4.787523e+10,4.787523e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
4,169644,105720211014014137688S00,2.0,543.0,4.787048e+10,2021-10-14 07:00:52,2021-10-14 07:00:54,11000.0,11010.0,1101061.0,...,4.787048e+10,4.787048e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354298,3246116,105620211014085956868S00,1.0,14.0,5.717004e+10,2021-10-14 09:02:54,2021-10-14 09:04:06,11000.0,11010.0,1101063.0,...,5.717004e+10,5.717004e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1354299,3246117,105620211014085956868S00,1.0,15.0,5.717367e+10,2021-10-14 09:04:07,2021-10-14 09:04:15,11000.0,11010.0,1101063.0,...,5.717367e+10,5.717367e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1354300,3246118,105620211014085956868S00,1.0,16.0,5.717367e+10,2021-10-14 09:04:16,2021-10-14 09:04:17,11000.0,11010.0,1101063.0,...,5.717367e+10,5.717367e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1354301,3246119,105620211014085956868S00,1.0,17.0,5.717032e+10,2021-10-14 09:04:18,2021-10-14 09:04:25,11000.0,11010.0,1101063.0,...,5.717032e+10,5.717032e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1354302,3246120,105620211014085956868S00,1.0,18.0,5.717441e+10,2021-10-14 09:04:26,2021-10-14 09:04:28,11000.0,11010.0,1101063.0,...,5.717441e+10,5.717441e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [31]:
m_m_peak['fft'] = (m_m_peak['length']/m_m_peak['max_speed'])*3600
m_m_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source,fft,fft2
0,169640,105720211014014137688S00,2.0,539.0,4.787008e+10,2021-10-14 07:00:03,2021-10-14 07:00:04,11000.0,11010.0,1101054.0,...,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.42,0.00042
1,169641,105720211014014137688S00,2.0,540.0,4.787045e+10,2021-10-14 07:00:05,2021-10-14 07:00:20,11000.0,11010.0,1101054.0,...,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4.50,0.00450
2,169642,105720211014014137688S00,2.0,541.0,4.787523e+10,2021-10-14 07:00:21,2021-10-14 07:00:30,11000.0,11010.0,1101054.0,...,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.76,0.00276
3,169643,105720211014014137688S00,2.0,542.0,4.787523e+10,2021-10-14 07:00:31,2021-10-14 07:00:51,11000.0,11010.0,1101061.0,...,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.94,0.00594
4,169644,105720211014014137688S00,2.0,543.0,4.787048e+10,2021-10-14 07:00:52,2021-10-14 07:00:54,11000.0,11010.0,1101061.0,...,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.50,0.00150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354298,3246116,105620211014085956868S00,1.0,14.0,5.717004e+10,2021-10-14 09:02:54,2021-10-14 09:04:06,11000.0,11010.0,1101063.0,...,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,25.32,0.02532
1354299,3246117,105620211014085956868S00,1.0,15.0,5.717367e+10,2021-10-14 09:04:07,2021-10-14 09:04:15,11000.0,11010.0,1101063.0,...,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.40,0.00540
1354300,3246118,105620211014085956868S00,1.0,16.0,5.717367e+10,2021-10-14 09:04:16,2021-10-14 09:04:17,11000.0,11010.0,1101063.0,...,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.38,0.00138
1354301,3246119,105620211014085956868S00,1.0,17.0,5.717032e+10,2021-10-14 09:04:18,2021-10-14 09:04:25,11000.0,11010.0,1101063.0,...,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.64,0.00564
1354302,3246120,105620211014085956868S00,1.0,18.0,5.717441e+10,2021-10-14 09:04:26,2021-10-14 09:04:28,11000.0,11010.0,1101063.0,...,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.92,0.00192

In [42]:
m_m_peak['delta'] = pd.to_datetime(m_m_peak['out_time']) - pd.to_datetime(m_m_peak['in_time'])

In [43]:
m_m_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source,fft,fft2,delta
0,169640,105720211014014137688S00,2.0,539.0,4.787008e+10,2021-10-14 07:00:03,2021-10-14 07:00:04,11000.0,11010.0,1101054.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.42,0.00042,0 days 00:00:01
1,169641,105720211014014137688S00,2.0,540.0,4.787045e+10,2021-10-14 07:00:05,2021-10-14 07:00:20,11000.0,11010.0,1101054.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4.50,0.00450,0 days 00:00:15
2,169642,105720211014014137688S00,2.0,541.0,4.787523e+10,2021-10-14 07:00:21,2021-10-14 07:00:30,11000.0,11010.0,1101054.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.76,0.00276,0 days 00:00:09
3,169643,105720211014014137688S00,2.0,542.0,4.787523e+10,2021-10-14 07:00:31,2021-10-14 07:00:51,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.94,0.00594,0 days 00:00:20
4,169644,105720211014014137688S00,2.0,543.0,4.787048e+10,2021-10-14 07:00:52,2021-10-14 07:00:54,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.50,0.00150,0 days 00:00:02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354298,3246116,105620211014085956868S00,1.0,14.0,5.717004e+10,2021-10-14 09:02:54,2021-10-14 09:04:06,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,25.32,0.02532,0 days 00:01:12
1354299,3246117,105620211014085956868S00,1.0,15.0,5.717367e+10,2021-10-14 09:04:07,2021-10-14 09:04:15,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.40,0.00540,0 days 00:00:08
1354300,3246118,105620211014085956868S00,1.0,16.0,5.717367e+10,2021-10-14 09:04:16,2021-10-14 09:04:17,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.38,0.00138,0 days 00:00:01
1354301,3246119,105620211014085956868S00,1.0,17.0,5.717032e+10,2021-10-14 09:04:18,2021-10-14 09:04:25,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.64,0.00564,0 days 00:00:07
1354302,3246120,105620211014085956868S00,1.0,18.0,5.717441e+10,2021-10-14 09:04:26,2021-10-14 09:04:28,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.92,0.00192,0 days 00:00:02

In [44]:
def sec(data):
    sec = data.seconds
    return sec

In [45]:
m_m_peak['delta2'] = m_m_peak['delta'].apply(sec)
m_m_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,rc_name,rc_hist,rc_date,rc_length,old_link_i,source,fft,fft2,delta,delta2
0,169640,105720211014014137688S00,2.0,539.0,4.787008e+10,2021-10-14 07:00:03,2021-10-14 07:00:04,11000.0,11010.0,1101054.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.42,0.00042,0 days 00:00:01,1
1,169641,105720211014014137688S00,2.0,540.0,4.787045e+10,2021-10-14 07:00:05,2021-10-14 07:00:20,11000.0,11010.0,1101054.0,...,NaN,NaN,NaN,NaN,0.0,0.0,4.50,0.00450,0 days 00:00:15,15
2,169642,105720211014014137688S00,2.0,541.0,4.787523e+10,2021-10-14 07:00:21,2021-10-14 07:00:30,11000.0,11010.0,1101054.0,...,NaN,NaN,NaN,NaN,0.0,0.0,2.76,0.00276,0 days 00:00:09,9
3,169643,105720211014014137688S00,2.0,542.0,4.787523e+10,2021-10-14 07:00:31,2021-10-14 07:00:51,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,NaN,0.0,0.0,5.94,0.00594,0 days 00:00:20,20
4,169644,105720211014014137688S00,2.0,543.0,4.787048e+10,2021-10-14 07:00:52,2021-10-14 07:00:54,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,NaN,0.0,0.0,1.50,0.00150,0 days 00:00:02,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354298,3246116,105620211014085956868S00,1.0,14.0,5.717004e+10,2021-10-14 09:02:54,2021-10-14 09:04:06,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,NaN,0.0,0.0,25.32,0.02532,0 days 00:01:12,72
1354299,3246117,105620211014085956868S00,1.0,15.0,5.717367e+10,2021-10-14 09:04:07,2021-10-14 09:04:15,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,NaN,0.0,0.0,5.40,0.00540,0 days 00:00:08,8
1354300,3246118,105620211014085956868S00,1.0,16.0,5.717367e+10,2021-10-14 09:04:16,2021-10-14 09:04:17,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,NaN,0.0,0.0,1.38,0.00138,0 days 00:00:01,1
1354301,3246119,105620211014085956868S00,1.0,17.0,5.717032e+10,2021-10-14 09:04:18,2021-10-14 09:04:25,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,NaN,0.0,0.0,5.64,0.00564,0 days 00:00:07,7
1354302,3246120,105620211014085956868S00,1.0,18.0,5.717441e+10,2021-10-14 09:04:26,2021-10-14 09:04:28,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,NaN,0.0,0.0,1.92,0.00192,0 days 00:00:02,2

In [47]:
m_m_peak['cong'] = m_m_peak['delta2']/m_m_peak['fft']
m_m_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,rc_hist,rc_date,rc_length,old_link_i,source,fft,fft2,delta,delta2,cong
0,169640,105720211014014137688S00,2.0,539.0,4.787008e+10,2021-10-14 07:00:03,2021-10-14 07:00:04,11000.0,11010.0,1101054.0,...,NaN,NaN,NaN,0.0,0.0,0.42,0.00042,0 days 00:00:01,1,2.380952
1,169641,105720211014014137688S00,2.0,540.0,4.787045e+10,2021-10-14 07:00:05,2021-10-14 07:00:20,11000.0,11010.0,1101054.0,...,NaN,NaN,NaN,0.0,0.0,4.50,0.00450,0 days 00:00:15,15,3.333333
2,169642,105720211014014137688S00,2.0,541.0,4.787523e+10,2021-10-14 07:00:21,2021-10-14 07:00:30,11000.0,11010.0,1101054.0,...,NaN,NaN,NaN,0.0,0.0,2.76,0.00276,0 days 00:00:09,9,3.260870
3,169643,105720211014014137688S00,2.0,542.0,4.787523e+10,2021-10-14 07:00:31,2021-10-14 07:00:51,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,0.0,0.0,5.94,0.00594,0 days 00:00:20,20,3.367003
4,169644,105720211014014137688S00,2.0,543.0,4.787048e+10,2021-10-14 07:00:52,2021-10-14 07:00:54,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,0.0,0.0,1.50,0.00150,0 days 00:00:02,2,1.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354298,3246116,105620211014085956868S00,1.0,14.0,5.717004e+10,2021-10-14 09:02:54,2021-10-14 09:04:06,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,0.0,0.0,25.32,0.02532,0 days 00:01:12,72,2.843602
1354299,3246117,105620211014085956868S00,1.0,15.0,5.717367e+10,2021-10-14 09:04:07,2021-10-14 09:04:15,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,0.0,0.0,5.40,0.00540,0 days 00:00:08,8,1.481481
1354300,3246118,105620211014085956868S00,1.0,16.0,5.717367e+10,2021-10-14 09:04:16,2021-10-14 09:04:17,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,0.0,0.0,1.38,0.00138,0 days 00:00:01,1,0.724638
1354301,3246119,105620211014085956868S00,1.0,17.0,5.717032e+10,2021-10-14 09:04:18,2021-10-14 09:04:25,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,0.0,0.0,5.64,0.00564,0 days 00:00:07,7,1.241135
1354302,3246120,105620211014085956868S00,1.0,18.0,5.717441e+10,2021-10-14 09:04:26,2021-10-14 09:04:28,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,0.0,0.0,1.92,0.00192,0 days 00:00:02,2,1.041667

In [48]:
len(m_m_peak['link_id'].unique())

1025

In [50]:
m_m_peak['link_type'].unique()

array([3.2768e+04, 4.0000e+00, 1.0000e+00, 3.2000e+01, 3.3280e+04,
       5.1600e+02, 6.4000e+01, 2.0000e+00, 3.4816e+04, 1.2800e+02,
       5.1300e+02])

In [54]:
m_m_peak = m_m_peak[m_m_peak['link_type']!= 32]
m_m_peak = m_m_peak[m_m_peak['link_type']!= 64]
m_m_peak = m_m_peak[m_m_peak['link_type']!= 128]
m_m_peak2 = m_m_peak[m_m_peak['length'] >= 0.1]

m_m_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,rc_hist,rc_date,rc_length,old_link_i,source,fft,fft2,delta,delta2,cong
0,169640,105720211014014137688S00,2.0,539.0,4.787008e+10,2021-10-14 07:00:03,2021-10-14 07:00:04,11000.0,11010.0,1101054.0,...,NaN,NaN,NaN,0.0,0.0,0.42,0.00042,0 days 00:00:01,1,2.380952
1,169641,105720211014014137688S00,2.0,540.0,4.787045e+10,2021-10-14 07:00:05,2021-10-14 07:00:20,11000.0,11010.0,1101054.0,...,NaN,NaN,NaN,0.0,0.0,4.50,0.00450,0 days 00:00:15,15,3.333333
2,169642,105720211014014137688S00,2.0,541.0,4.787523e+10,2021-10-14 07:00:21,2021-10-14 07:00:30,11000.0,11010.0,1101054.0,...,NaN,NaN,NaN,0.0,0.0,2.76,0.00276,0 days 00:00:09,9,3.260870
3,169643,105720211014014137688S00,2.0,542.0,4.787523e+10,2021-10-14 07:00:31,2021-10-14 07:00:51,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,0.0,0.0,5.94,0.00594,0 days 00:00:20,20,3.367003
4,169644,105720211014014137688S00,2.0,543.0,4.787048e+10,2021-10-14 07:00:52,2021-10-14 07:00:54,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,0.0,0.0,1.50,0.00150,0 days 00:00:02,2,1.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354298,3246116,105620211014085956868S00,1.0,14.0,5.717004e+10,2021-10-14 09:02:54,2021-10-14 09:04:06,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,0.0,0.0,25.32,0.02532,0 days 00:01:12,72,2.843602
1354299,3246117,105620211014085956868S00,1.0,15.0,5.717367e+10,2021-10-14 09:04:07,2021-10-14 09:04:15,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,0.0,0.0,5.40,0.00540,0 days 00:00:08,8,1.481481
1354300,3246118,105620211014085956868S00,1.0,16.0,5.717367e+10,2021-10-14 09:04:16,2021-10-14 09:04:17,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,0.0,0.0,1.38,0.00138,0 days 00:00:01,1,0.724638
1354301,3246119,105620211014085956868S00,1.0,17.0,5.717032e+10,2021-10-14 09:04:18,2021-10-14 09:04:25,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,0.0,0.0,5.64,0.00564,0 days 00:00:07,7,1.241135
1354302,3246120,105620211014085956868S00,1.0,18.0,5.717441e+10,2021-10-14 09:04:26,2021-10-14 09:04:28,11000.0,11010.0,1101063.0,...,NaN,NaN,NaN,0.0,0.0,1.92,0.00192,0 days 00:00:02,2,1.041667

In [55]:
m_m_peak2.groupby('link_id')['cong'].sum().sort_values()

link_id
571817815.0       0.000000
478740988.0       0.000000
478715813.0       0.000000
571720196.0       0.000000
478703558.0       0.000000
                  ...
478741402.0    4194.615385
478712941.0    4655.609756
478718965.0    4970.679012
478725599.0    5073.809524
478726663.0    5396.803653
Name: cong, Length: 291, dtype: float64

In [57]:
m_m_peak2.groupby('link_id')['cong'].mean().sort_values()

link_id
478737294.0     0.000000
478740836.0     0.000000
478712252.0     0.000000
478733200.0     0.000000
478703558.0     0.000000
                 ...
478702782.0     6.567996
478700316.0     6.625683
478712941.0     6.698719
478721783.0     7.102713
478706430.0    10.232503
Name: cong, Length: 291, dtype: float64

In [ ]:
32768 비분리
4 교차로의 통로
1 본선 분리
32 복합교차점내 링크
33280 비분리,P-turn
516 P-turn,교차로의통로
64 로타리내 링크
2 연결로
34816 비분리,진출입로
128 회전교차로 내 링크
513 P-turn,본선분리

In [58]:
m_d_peak = pd.merge(left=d_peak, right=link, how='left', on='link_id')
m_d_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,up_v_link,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source
0,1025885,105920211014064935692S00,1.0,55.0,5.744407e+10,2021-10-14 17:17:05,2021-10-14 17:18:13,31000.0,31210.0,3121034.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1025886,105920211014064935692S00,1.0,56.0,5.744407e+10,2021-10-14 17:18:14,2021-10-14 17:18:14,31000.0,31210.0,3121031.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1025887,105920211014064935692S00,1.0,57.0,5.734439e+10,2021-10-14 17:18:50,2021-10-14 17:21:58,31000.0,31210.0,3121031.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1025888,105920211014064935692S00,1.0,58.0,5.734439e+10,2021-10-14 17:22:11,2021-10-14 17:23:16,31000.0,31250.0,3125034.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1025889,105920211014064935692S00,1.0,59.0,-1.000000e+00,2021-10-14 17:23:17,2021-10-14 17:23:18,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544503,7399711,108520211014190356227S00,1.0,5.0,4.787046e+10,2021-10-14 19:04:33,2021-10-14 19:04:33,11000.0,11140.0,1114060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1544504,7399712,108520211014190356227S00,1.0,6.0,4.787067e+10,2021-10-14 19:04:51,2021-10-14 19:05:33,11000.0,11140.0,1114060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1544505,7400351,108520211014184831083S00,1.0,0.0,-1.000000e+00,2021-10-14 19:01:14,2021-10-14 19:02:50,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1544506,7400352,108520211014184831083S00,1.0,1.0,4.787074e+10,2021-10-14 19:04:37,2021-10-14 19:04:48,11000.0,11010.0,1101061.0,...,4.787074e+10,4.787074e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1544507,7400353,108520211014184831083S00,1.0,2.0,4.787266e+10,2021-10-14 19:04:49,2021-10-14 19:05:02,11000.0,11010.0,1101061.0,...,4.787266e+10,4.787266e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [59]:
m_d_peak.dropna(inplace=True, subset=['up_v_link'])
m_d_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,up_v_link,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source
6,1525212,105620211014072404931S00,2.0,1.0,5.717053e+10,2021-10-14 17:04:49,2021-10-14 17:04:50,11000.0,11020.0,1102060.0,...,5.717053e+10,5.717053e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
7,1525213,105620211014072404931S00,2.0,2.0,5.717111e+10,2021-10-14 17:04:51,2021-10-14 17:05:04,11000.0,11020.0,1102059.0,...,5.717111e+10,5.717111e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
8,1525214,105620211014072404931S00,2.0,3.0,5.717192e+10,2021-10-14 17:05:05,2021-10-14 17:05:53,11000.0,11020.0,1102059.0,...,5.717192e+10,5.717192e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
9,1525215,105620211014072404931S00,2.0,4.0,5.717127e+10,2021-10-14 17:05:54,2021-10-14 17:06:23,11000.0,11020.0,1102059.0,...,5.717127e+10,5.717127e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
10,1525216,105620211014072404931S00,2.0,5.0,5.717127e+10,2021-10-14 17:06:24,2021-10-14 17:07:07,11000.0,11020.0,1102058.0,...,5.717127e+10,5.717127e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544439,7391905,105820211014190141157S00,1.0,16.0,5.717357e+10,2021-10-14 19:04:28,2021-10-14 19:04:38,11000.0,11020.0,1102058.0,...,5.717357e+10,5.717357e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1544440,7391906,105820211014190141157S00,1.0,17.0,5.717127e+10,2021-10-14 19:04:39,2021-10-14 19:04:47,11000.0,11020.0,1102058.0,...,5.717127e+10,5.717127e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1544441,7391907,105820211014190141157S00,1.0,18.0,5.717051e+10,2021-10-14 19:04:48,2021-10-14 19:05:16,11000.0,11020.0,1102059.0,...,5.717051e+10,5.717051e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1544506,7400352,108520211014184831083S00,1.0,1.0,4.787074e+10,2021-10-14 19:04:37,2021-10-14 19:04:48,11000.0,11010.0,1101061.0,...,4.787074e+10,4.787074e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1544507,7400353,108520211014184831083S00,1.0,2.0,4.787266e+10,2021-10-14 19:04:49,2021-10-14 19:05:02,11000.0,11010.0,1101061.0,...,4.787266e+10,4.787266e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [60]:
m_d_peak['fft'] = (m_d_peak['length']/m_d_peak['max_speed'])*3600
m_d_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source,fft
6,1525212,105620211014072404931S00,2.0,1.0,5.717053e+10,2021-10-14 17:04:49,2021-10-14 17:04:50,11000.0,11020.0,1102060.0,...,5.717053e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.66
7,1525213,105620211014072404931S00,2.0,2.0,5.717111e+10,2021-10-14 17:04:51,2021-10-14 17:05:04,11000.0,11020.0,1102059.0,...,5.717111e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.00
8,1525214,105620211014072404931S00,2.0,3.0,5.717192e+10,2021-10-14 17:05:05,2021-10-14 17:05:53,11000.0,11020.0,1102059.0,...,5.717192e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.88
9,1525215,105620211014072404931S00,2.0,4.0,5.717127e+10,2021-10-14 17:05:54,2021-10-14 17:06:23,11000.0,11020.0,1102059.0,...,5.717127e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.50
10,1525216,105620211014072404931S00,2.0,5.0,5.717127e+10,2021-10-14 17:06:24,2021-10-14 17:07:07,11000.0,11020.0,1102058.0,...,5.717127e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544439,7391905,105820211014190141157S00,1.0,16.0,5.717357e+10,2021-10-14 19:04:28,2021-10-14 19:04:38,11000.0,11020.0,1102058.0,...,5.717357e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.48
1544440,7391906,105820211014190141157S00,1.0,17.0,5.717127e+10,2021-10-14 19:04:39,2021-10-14 19:04:47,11000.0,11020.0,1102058.0,...,5.717127e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4.92
1544441,7391907,105820211014190141157S00,1.0,18.0,5.717051e+10,2021-10-14 19:04:48,2021-10-14 19:05:16,11000.0,11020.0,1102059.0,...,5.717051e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,18.00
1544506,7400352,108520211014184831083S00,1.0,1.0,4.787074e+10,2021-10-14 19:04:37,2021-10-14 19:04:48,11000.0,11010.0,1101061.0,...,4.787074e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,9.60
1544507,7400353,108520211014184831083S00,1.0,2.0,4.787266e+10,2021-10-14 19:04:49,2021-10-14 19:05:02,11000.0,11010.0,1101061.0,...,4.787266e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.24

In [61]:
m_d_peak['delta'] = pd.to_datetime(m_d_peak['out_time']) - pd.to_datetime(m_d_peak['in_time'])
m_d_peak['delta2'] = m_d_peak['delta'].apply(sec)
m_d_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source,fft,delta,delta2
6,1525212,105620211014072404931S00,2.0,1.0,5.717053e+10,2021-10-14 17:04:49,2021-10-14 17:04:50,11000.0,11020.0,1102060.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.66,0 days 00:00:01,1
7,1525213,105620211014072404931S00,2.0,2.0,5.717111e+10,2021-10-14 17:04:51,2021-10-14 17:05:04,11000.0,11020.0,1102059.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.00,0 days 00:00:13,13
8,1525214,105620211014072404931S00,2.0,3.0,5.717192e+10,2021-10-14 17:05:05,2021-10-14 17:05:53,11000.0,11020.0,1102059.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.88,0 days 00:00:48,48
9,1525215,105620211014072404931S00,2.0,4.0,5.717127e+10,2021-10-14 17:05:54,2021-10-14 17:06:23,11000.0,11020.0,1102059.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.50,0 days 00:00:29,29
10,1525216,105620211014072404931S00,2.0,5.0,5.717127e+10,2021-10-14 17:06:24,2021-10-14 17:07:07,11000.0,11020.0,1102058.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.28,0 days 00:00:43,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544439,7391905,105820211014190141157S00,1.0,16.0,5.717357e+10,2021-10-14 19:04:28,2021-10-14 19:04:38,11000.0,11020.0,1102058.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.48,0 days 00:00:10,10
1544440,7391906,105820211014190141157S00,1.0,17.0,5.717127e+10,2021-10-14 19:04:39,2021-10-14 19:04:47,11000.0,11020.0,1102058.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4.92,0 days 00:00:08,8
1544441,7391907,105820211014190141157S00,1.0,18.0,5.717051e+10,2021-10-14 19:04:48,2021-10-14 19:05:16,11000.0,11020.0,1102059.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,18.00,0 days 00:00:28,28
1544506,7400352,108520211014184831083S00,1.0,1.0,4.787074e+10,2021-10-14 19:04:37,2021-10-14 19:04:48,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,9.60,0 days 00:00:11,11
1544507,7400353,108520211014184831083S00,1.0,2.0,4.787266e+10,2021-10-14 19:04:49,2021-10-14 19:05:02,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.24,0 days 00:00:13,13

In [62]:
m_d_peak['cong'] = m_d_peak['delta2']/m_d_peak['fft']
m_d_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,rc_name,rc_hist,rc_date,rc_length,old_link_i,source,fft,delta,delta2,cong
6,1525212,105620211014072404931S00,2.0,1.0,5.717053e+10,2021-10-14 17:04:49,2021-10-14 17:04:50,11000.0,11020.0,1102060.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.66,0 days 00:00:01,1,0.150150
7,1525213,105620211014072404931S00,2.0,2.0,5.717111e+10,2021-10-14 17:04:51,2021-10-14 17:05:04,11000.0,11020.0,1102059.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.00,0 days 00:00:13,13,2.166667
8,1525214,105620211014072404931S00,2.0,3.0,5.717192e+10,2021-10-14 17:05:05,2021-10-14 17:05:53,11000.0,11020.0,1102059.0,...,NaN,NaN,NaN,NaN,0.0,0.0,5.88,0 days 00:00:48,48,8.163265
9,1525215,105620211014072404931S00,2.0,4.0,5.717127e+10,2021-10-14 17:05:54,2021-10-14 17:06:23,11000.0,11020.0,1102059.0,...,NaN,NaN,NaN,NaN,0.0,0.0,1.50,0 days 00:00:29,29,19.333333
10,1525216,105620211014072404931S00,2.0,5.0,5.717127e+10,2021-10-14 17:06:24,2021-10-14 17:07:07,11000.0,11020.0,1102058.0,...,NaN,NaN,NaN,NaN,0.0,0.0,2.28,0 days 00:00:43,43,18.859649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544439,7391905,105820211014190141157S00,1.0,16.0,5.717357e+10,2021-10-14 19:04:28,2021-10-14 19:04:38,11000.0,11020.0,1102058.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.48,0 days 00:00:10,10,1.543210
1544440,7391906,105820211014190141157S00,1.0,17.0,5.717127e+10,2021-10-14 19:04:39,2021-10-14 19:04:47,11000.0,11020.0,1102058.0,...,NaN,NaN,NaN,NaN,0.0,0.0,4.92,0 days 00:00:08,8,1.626016
1544441,7391907,105820211014190141157S00,1.0,18.0,5.717051e+10,2021-10-14 19:04:48,2021-10-14 19:05:16,11000.0,11020.0,1102059.0,...,NaN,NaN,NaN,NaN,0.0,0.0,18.00,0 days 00:00:28,28,1.555556
1544506,7400352,108520211014184831083S00,1.0,1.0,4.787074e+10,2021-10-14 19:04:37,2021-10-14 19:04:48,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,NaN,0.0,0.0,9.60,0 days 00:00:11,11,1.145833
1544507,7400353,108520211014184831083S00,1.0,2.0,4.787266e+10,2021-10-14 19:04:49,2021-10-14 19:05:02,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.24,0 days 00:00:13,13,2.083333

In [63]:
m_d_peak = m_d_peak[m_d_peak['link_type']!= 32]
m_d_peak = m_d_peak[m_d_peak['link_type']!= 64]
m_d_peak = m_d_peak[m_d_peak['link_type']!= 128]
m_d_peak2 = m_d_peak[m_d_peak['length'] >= 0.1]

m_d_peak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,rc_name,rc_hist,rc_date,rc_length,old_link_i,source,fft,delta,delta2,cong
6,1525212,105620211014072404931S00,2.0,1.0,5.717053e+10,2021-10-14 17:04:49,2021-10-14 17:04:50,11000.0,11020.0,1102060.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.66,0 days 00:00:01,1,0.150150
7,1525213,105620211014072404931S00,2.0,2.0,5.717111e+10,2021-10-14 17:04:51,2021-10-14 17:05:04,11000.0,11020.0,1102059.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.00,0 days 00:00:13,13,2.166667
8,1525214,105620211014072404931S00,2.0,3.0,5.717192e+10,2021-10-14 17:05:05,2021-10-14 17:05:53,11000.0,11020.0,1102059.0,...,NaN,NaN,NaN,NaN,0.0,0.0,5.88,0 days 00:00:48,48,8.163265
9,1525215,105620211014072404931S00,2.0,4.0,5.717127e+10,2021-10-14 17:05:54,2021-10-14 17:06:23,11000.0,11020.0,1102059.0,...,NaN,NaN,NaN,NaN,0.0,0.0,1.50,0 days 00:00:29,29,19.333333
10,1525216,105620211014072404931S00,2.0,5.0,5.717127e+10,2021-10-14 17:06:24,2021-10-14 17:07:07,11000.0,11020.0,1102058.0,...,NaN,NaN,NaN,NaN,0.0,0.0,2.28,0 days 00:00:43,43,18.859649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544439,7391905,105820211014190141157S00,1.0,16.0,5.717357e+10,2021-10-14 19:04:28,2021-10-14 19:04:38,11000.0,11020.0,1102058.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.48,0 days 00:00:10,10,1.543210
1544440,7391906,105820211014190141157S00,1.0,17.0,5.717127e+10,2021-10-14 19:04:39,2021-10-14 19:04:47,11000.0,11020.0,1102058.0,...,NaN,NaN,NaN,NaN,0.0,0.0,4.92,0 days 00:00:08,8,1.626016
1544441,7391907,105820211014190141157S00,1.0,18.0,5.717051e+10,2021-10-14 19:04:48,2021-10-14 19:05:16,11000.0,11020.0,1102059.0,...,NaN,NaN,NaN,NaN,0.0,0.0,18.00,0 days 00:00:28,28,1.555556
1544506,7400352,108520211014184831083S00,1.0,1.0,4.787074e+10,2021-10-14 19:04:37,2021-10-14 19:04:48,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,NaN,0.0,0.0,9.60,0 days 00:00:11,11,1.145833
1544507,7400353,108520211014184831083S00,1.0,2.0,4.787266e+10,2021-10-14 19:04:49,2021-10-14 19:05:02,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.24,0 days 00:00:13,13,2.083333

In [64]:
m_d_peak2.groupby('link_id')['cong'].mean().sort_values()

link_id
478721994.0     0.000000
478724934.0     0.000000
571817815.0     0.000000
478752192.0     0.000000
478726006.0     0.000000
                 ...
571744738.0     8.659686
571716036.0     8.791377
478700175.0     9.200171
478700316.0     9.922987
571744122.0    12.304757
Name: cong, Length: 289, dtype: float64

In [65]:
m_nonpeak = pd.merge(left=nonpeak, right=link, how='left', on='link_id')
m_nonpeak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,up_v_link,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source
0,1000052,105920211014064604592S00,2.0,565.0,6.357036e+10,2021-10-14 12:00:23,2021-10-14 12:00:26,38000.0,38090.0,3809036.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000053,105920211014064604592S00,2.0,566.0,6.357083e+10,2021-10-14 12:00:27,2021-10-14 12:00:29,38000.0,38090.0,3809036.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000054,105920211014064604592S00,2.0,567.0,6.357083e+10,2021-10-14 12:00:30,2021-10-14 12:00:33,38000.0,38090.0,3809036.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000055,105920211014064604592S00,2.0,568.0,6.357037e+10,2021-10-14 12:00:34,2021-10-14 12:00:34,38000.0,38090.0,3809036.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000056,105920211014064604592S00,2.0,569.0,6.357038e+10,2021-10-14 12:00:35,2021-10-14 12:00:44,38000.0,38090.0,3809057.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40150,3978611,105920211014111851890S00,1.0,120.0,4.787256e+10,2021-10-14 12:08:20,2021-10-14 12:08:32,11000.0,11010.0,1101053.0,...,4.787256e+10,4.787256e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
40151,3978612,105920211014111851890S00,1.0,121.0,4.787259e+10,2021-10-14 12:08:33,2021-10-14 12:08:57,11000.0,11010.0,1101053.0,...,4.787259e+10,4.787259e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
40152,3978613,105920211014111851890S00,1.0,122.0,4.787074e+10,2021-10-14 12:08:58,2021-10-14 12:09:02,11000.0,11010.0,1101053.0,...,4.787074e+10,4.787074e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
40153,3978614,105920211014111851890S00,1.0,123.0,4.787032e+10,2021-10-14 12:09:03,2021-10-14 12:09:14,11000.0,11010.0,1101053.0,...,4.787032e+10,4.787032e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
40154,3978615,105920211014111851890S00,1.0,124.0,-1.000000e+00,2021-10-14 12:09:15,2021-10-14 12:09:24,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
m_nonpeak.dropna(inplace=True, subset=['up_v_link'])
m_nonpeak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,up_v_link,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source
155,1311581,108420211014073131474S00,1.0,499.0,4.787373e+10,2021-10-14 13:49:27,2021-10-14 13:49:42,11000.0,11020.0,1102057.0,...,4.787373e+10,0.000000e+00,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
156,1311582,108420211014073131474S00,1.0,500.0,4.787373e+10,2021-10-14 13:49:43,2021-10-14 13:49:46,11000.0,11020.0,1102057.0,...,4.787373e+10,0.000000e+00,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
157,1311583,108420211014073131474S00,1.0,501.0,4.787373e+10,2021-10-14 13:49:47,2021-10-14 13:50:03,11000.0,11020.0,1102057.0,...,4.787373e+10,4.787373e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
596,1767003,108520211014075931555S00,2.0,28.0,4.787121e+10,2021-10-14 12:00:17,2021-10-14 12:00:56,11000.0,11020.0,1102057.0,...,4.787121e+10,4.787121e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
597,1767004,108520211014075931555S00,2.0,29.0,4.787373e+10,2021-10-14 12:00:57,2021-10-14 12:01:53,11000.0,11020.0,1102057.0,...,4.787373e+10,4.787373e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40149,3978610,105920211014111851890S00,1.0,119.0,4.787256e+10,2021-10-14 12:08:16,2021-10-14 12:08:19,11000.0,11010.0,1101053.0,...,4.787256e+10,4.787256e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
40150,3978611,105920211014111851890S00,1.0,120.0,4.787256e+10,2021-10-14 12:08:20,2021-10-14 12:08:32,11000.0,11010.0,1101053.0,...,4.787256e+10,4.787256e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
40151,3978612,105920211014111851890S00,1.0,121.0,4.787259e+10,2021-10-14 12:08:33,2021-10-14 12:08:57,11000.0,11010.0,1101053.0,...,4.787259e+10,4.787259e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
40152,3978613,105920211014111851890S00,1.0,122.0,4.787074e+10,2021-10-14 12:08:58,2021-10-14 12:09:02,11000.0,11010.0,1101053.0,...,4.787074e+10,4.787074e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
40153,3978614,105920211014111851890S00,1.0,123.0,4.787032e+10,2021-10-14 12:09:03,2021-10-14 12:09:14,11000.0,11010.0,1101053.0,...,4.787032e+10,4.787032e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [67]:
m_nonpeak['fft'] = (m_nonpeak['length']/m_nonpeak['max_speed'])*3600
m_nonpeak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source,fft
155,1311581,108420211014073131474S00,1.0,499.0,4.787373e+10,2021-10-14 13:49:27,2021-10-14 13:49:42,11000.0,11020.0,1102057.0,...,0.000000e+00,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.28
156,1311582,108420211014073131474S00,1.0,500.0,4.787373e+10,2021-10-14 13:49:43,2021-10-14 13:49:46,11000.0,11020.0,1102057.0,...,0.000000e+00,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.86
157,1311583,108420211014073131474S00,1.0,501.0,4.787373e+10,2021-10-14 13:49:47,2021-10-14 13:50:03,11000.0,11020.0,1102057.0,...,4.787373e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4.86
596,1767003,108520211014075931555S00,2.0,28.0,4.787121e+10,2021-10-14 12:00:17,2021-10-14 12:00:56,11000.0,11020.0,1102057.0,...,4.787121e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,12.96
597,1767004,108520211014075931555S00,2.0,29.0,4.787373e+10,2021-10-14 12:00:57,2021-10-14 12:01:53,11000.0,11020.0,1102057.0,...,4.787373e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40149,3978610,105920211014111851890S00,1.0,119.0,4.787256e+10,2021-10-14 12:08:16,2021-10-14 12:08:19,11000.0,11010.0,1101053.0,...,4.787256e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,3.24
40150,3978611,105920211014111851890S00,1.0,120.0,4.787256e+10,2021-10-14 12:08:20,2021-10-14 12:08:32,11000.0,11010.0,1101053.0,...,4.787256e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.24
40151,3978612,105920211014111851890S00,1.0,121.0,4.787259e+10,2021-10-14 12:08:33,2021-10-14 12:08:57,11000.0,11010.0,1101053.0,...,4.787259e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,19.32
40152,3978613,105920211014111851890S00,1.0,122.0,4.787074e+10,2021-10-14 12:08:58,2021-10-14 12:09:02,11000.0,11010.0,1101053.0,...,4.787074e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.52
40153,3978614,105920211014111851890S00,1.0,123.0,4.787032e+10,2021-10-14 12:09:03,2021-10-14 12:09:14,11000.0,11010.0,1101053.0,...,4.787032e+10,20171231.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4.26

In [68]:
m_nonpeak['delta'] = pd.to_datetime(m_nonpeak['out_time']) - pd.to_datetime(m_nonpeak['in_time'])
m_nonpeak['delta2'] = m_nonpeak['delta'].apply(sec)
m_nonpeak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source,fft,delta,delta2
155,1311581,108420211014073131474S00,1.0,499.0,4.787373e+10,2021-10-14 13:49:27,2021-10-14 13:49:42,11000.0,11020.0,1102057.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.28,0 days 00:00:15,15
156,1311582,108420211014073131474S00,1.0,500.0,4.787373e+10,2021-10-14 13:49:43,2021-10-14 13:49:46,11000.0,11020.0,1102057.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.86,0 days 00:00:03,3
157,1311583,108420211014073131474S00,1.0,501.0,4.787373e+10,2021-10-14 13:49:47,2021-10-14 13:50:03,11000.0,11020.0,1102057.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4.86,0 days 00:00:16,16
596,1767003,108520211014075931555S00,2.0,28.0,4.787121e+10,2021-10-14 12:00:17,2021-10-14 12:00:56,11000.0,11020.0,1102057.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,12.96,0 days 00:00:39,39
597,1767004,108520211014075931555S00,2.0,29.0,4.787373e+10,2021-10-14 12:00:57,2021-10-14 12:01:53,11000.0,11020.0,1102057.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4.86,0 days 00:00:56,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40149,3978610,105920211014111851890S00,1.0,119.0,4.787256e+10,2021-10-14 12:08:16,2021-10-14 12:08:19,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,3.24,0 days 00:00:03,3
40150,3978611,105920211014111851890S00,1.0,120.0,4.787256e+10,2021-10-14 12:08:20,2021-10-14 12:08:32,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.24,0 days 00:00:12,12
40151,3978612,105920211014111851890S00,1.0,121.0,4.787259e+10,2021-10-14 12:08:33,2021-10-14 12:08:57,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,19.32,0 days 00:00:24,24
40152,3978613,105920211014111851890S00,1.0,122.0,4.787074e+10,2021-10-14 12:08:58,2021-10-14 12:09:02,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.52,0 days 00:00:04,4
40153,3978614,105920211014111851890S00,1.0,123.0,4.787032e+10,2021-10-14 12:09:03,2021-10-14 12:09:14,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4.26,0 days 00:00:11,11

In [69]:
m_nonpeak['cong'] = m_nonpeak['delta2']/m_nonpeak['fft']
m_nonpeak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,rc_name,rc_hist,rc_date,rc_length,old_link_i,source,fft,delta,delta2,cong
155,1311581,108420211014073131474S00,1.0,499.0,4.787373e+10,2021-10-14 13:49:27,2021-10-14 13:49:42,11000.0,11020.0,1102057.0,...,NaN,NaN,NaN,NaN,0.0,0.0,5.28,0 days 00:00:15,15,2.840909
156,1311582,108420211014073131474S00,1.0,500.0,4.787373e+10,2021-10-14 13:49:43,2021-10-14 13:49:46,11000.0,11020.0,1102057.0,...,NaN,NaN,NaN,NaN,0.0,0.0,1.86,0 days 00:00:03,3,1.612903
157,1311583,108420211014073131474S00,1.0,501.0,4.787373e+10,2021-10-14 13:49:47,2021-10-14 13:50:03,11000.0,11020.0,1102057.0,...,NaN,NaN,NaN,NaN,0.0,0.0,4.86,0 days 00:00:16,16,3.292181
596,1767003,108520211014075931555S00,2.0,28.0,4.787121e+10,2021-10-14 12:00:17,2021-10-14 12:00:56,11000.0,11020.0,1102057.0,...,NaN,NaN,NaN,NaN,0.0,0.0,12.96,0 days 00:00:39,39,3.009259
597,1767004,108520211014075931555S00,2.0,29.0,4.787373e+10,2021-10-14 12:00:57,2021-10-14 12:01:53,11000.0,11020.0,1102057.0,...,NaN,NaN,NaN,NaN,0.0,0.0,4.86,0 days 00:00:56,56,11.522634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40149,3978610,105920211014111851890S00,1.0,119.0,4.787256e+10,2021-10-14 12:08:16,2021-10-14 12:08:19,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,0.0,0.0,3.24,0 days 00:00:03,3,0.925926
40150,3978611,105920211014111851890S00,1.0,120.0,4.787256e+10,2021-10-14 12:08:20,2021-10-14 12:08:32,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.24,0 days 00:00:12,12,1.923077
40151,3978612,105920211014111851890S00,1.0,121.0,4.787259e+10,2021-10-14 12:08:33,2021-10-14 12:08:57,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,0.0,0.0,19.32,0 days 00:00:24,24,1.242236
40152,3978613,105920211014111851890S00,1.0,122.0,4.787074e+10,2021-10-14 12:08:58,2021-10-14 12:09:02,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,0.0,0.0,5.52,0 days 00:00:04,4,0.724638
40153,3978614,105920211014111851890S00,1.0,123.0,4.787032e+10,2021-10-14 12:09:03,2021-10-14 12:09:14,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,0.0,0.0,4.26,0 days 00:00:11,11,2.582160

In [70]:
m_nonpeak = m_nonpeak[m_nonpeak['link_type']!= 32]
m_nonpeak = m_nonpeak[m_nonpeak['link_type']!= 64]
m_nonpeak = m_nonpeak[m_nonpeak['link_type']!= 128]
m_nonpeak = m_nonpeak[m_nonpeak['length'] >= 0.1]

m_nonpeak

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,rc_name,rc_hist,rc_date,rc_length,old_link_i,source,fft,delta,delta2,cong
596,1767003,108520211014075931555S00,2.0,28.0,4.787121e+10,2021-10-14 12:00:17,2021-10-14 12:00:56,11000.0,11020.0,1102057.0,...,NaN,NaN,NaN,NaN,0.0,0.0,12.96,0 days 00:00:39,39,3.009259
723,1916548,105520211014080621646S01,2.0,118.0,5.717021e+10,2021-10-14 13:17:14,2021-10-14 13:18:00,11000.0,11030.0,1103074.0,...,NaN,NaN,NaN,NaN,0.0,0.0,30.18,0 days 00:00:46,46,1.524188
726,1916551,105520211014080621646S01,2.0,121.0,5.717260e+10,2021-10-14 13:18:15,2021-10-14 13:18:25,11000.0,11020.0,1102058.0,...,NaN,NaN,NaN,NaN,0.0,0.0,7.20,0 days 00:00:10,10,1.388889
727,1916552,105520211014080621646S01,2.0,122.0,5.717260e+10,2021-10-14 13:18:26,2021-10-14 13:18:55,11000.0,11020.0,1102058.0,...,NaN,NaN,NaN,NaN,0.0,0.0,14.16,0 days 00:00:29,29,2.048023
733,1916558,105520211014080621646S01,2.0,128.0,5.717054e+10,2021-10-14 13:20:07,2021-10-14 13:22:26,11000.0,11020.0,1102058.0,...,NaN,NaN,NaN,NaN,0.0,0.0,15.42,0 days 00:02:19,139,9.014267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40023,3978325,105820211014103827731S01,1.0,112.0,4.787416e+10,2021-10-14 12:42:03,2021-10-14 12:42:14,11000.0,11010.0,1101061.0,...,NaN,NaN,NaN,NaN,0.0,0.0,8.28,0 days 00:00:11,11,1.328502
40025,3978327,105820211014103827731S01,1.0,114.0,5.717239e+10,2021-10-14 12:42:50,2021-10-14 12:43:38,11000.0,11010.0,1101064.0,...,NaN,NaN,NaN,NaN,0.0,0.0,7.68,0 days 00:00:48,48,6.250000
40142,3978603,105920211014111851890S00,1.0,112.0,4.787128e+10,2021-10-14 12:07:07,2021-10-14 12:07:15,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.78,0 days 00:00:08,8,1.179941
40148,3978609,105920211014111851890S00,1.0,118.0,4.787256e+10,2021-10-14 12:07:56,2021-10-14 12:08:15,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,0.0,0.0,17.64,0 days 00:00:19,19,1.077098
40151,3978612,105920211014111851890S00,1.0,121.0,4.787259e+10,2021-10-14 12:08:33,2021-10-14 12:08:57,11000.0,11010.0,1101053.0,...,NaN,NaN,NaN,NaN,0.0,0.0,19.32,0 days 00:00:24,24,1.242236

In [73]:
m_nonpeak_index = m_nonpeak.groupby('link_id')['cong'].mean().sort_values()

In [74]:
m_nonpeak_index.to_csv('J://링크경로한양도성/m_nonpeak_index.csv')

In [75]:
m_m_peak_index = m_m_peak2.groupby('link_id')['cong'].mean().sort_values()
m_m_peak_index.to_csv('J://링크경로한양도성/m_m_peak_index.csv')

m_d_peak_index = m_d_peak2.groupby('link_id')['cong'].mean().sort_values()
m_d_peak_index.to_csv('J://링크경로한양도성/m_d_peak_index.csv')