In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import os

In [2]:
m = pd.read_csv('D:/서울시신호/데이터/신호주기(한양도성)/DB/명보사거리_20190612.csv')
m

,시간,TOD,패턴,현시,연동,주기,기준,좌회전신호,비보호좌회전신호,직진신호,적색신호,황색신호,보행신호,기준link
0,0:00:00,1,1,1,1,80,을지로3가,0,0,0,1,0,0,478702550
1,0:00:01,1,1,1,1,80,을지로3가,0,0,0,1,0,0,478702550
2,0:00:02,1,1,1,1,80,을지로3가,0,0,0,1,0,0,478702550
3,0:00:03,1,1,1,1,80,을지로3가,0,0,0,1,0,0,478702550
4,0:00:04,1,1,1,1,80,을지로3가,0,0,0,1,0,0,478702550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345595,23:59:55,1,4,2,1,80,호텔피제이앞,0,0,0,1,0,1,478702212
345596,23:59:56,1,4,2,1,80,호텔피제이앞,0,0,0,1,0,1,478702212
345597,23:59:57,1,4,2,1,80,호텔피제이앞,0,0,0,1,0,1,478702212
345598,23:59:58,1,4,2,1,80,호텔피제이앞,0,0,0,1,0,0,478702212
345599,23:59:59,1,4,2,1,80,호텔피제이앞,0,0,0,1,0,0,478702212

In [5]:
j = pd.read_csv('D:/서울시신호/데이터/신호주기(한양도성)/DB/중구청_20210409_TOD1.csv', encoding='euc-kr')
j

,시간,TOD,패턴,현시,연동,주기,기준,좌회전신호,직진신호,적색신호,...,비보호좌회전신호,기준link,보행자좌회전상충,보행자직진상충,보행자우회전상충,보행자비보호좌회전상충,차량좌회전상충,차량직진상충,차량우회전상충,차량비보호좌회전상충
0,6:00:00,4,1,1,67,110,을지로4가,0,0,1,...,0,571725265,0,0,0,0,3,1,0,0
1,6:00:01,4,1,1,67,110,을지로4가,1,1,0,...,0,571725265,0,0,0,0,3,1,0,0
2,6:00:02,4,1,1,67,110,을지로4가,1,1,0,...,0,571725265,0,0,0,0,3,1,0,0
3,6:00:03,4,1,1,67,110,을지로4가,1,1,0,...,0,571725265,0,0,0,0,3,1,0,0
4,6:00:04,4,1,1,67,110,을지로4가,1,1,0,...,0,571725265,0,0,0,0,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345595,5:59:55,4,2,3,1,110,오장동사거리,0,0,1,...,0,571705263,0,0,3,0,0,0,0,0
345596,5:59:56,4,2,3,1,110,오장동사거리,0,0,1,...,0,571705263,0,0,3,0,0,0,0,0
345597,5:59:57,4,2,3,1,110,오장동사거리,0,0,1,...,0,571705263,0,0,3,0,0,0,0,0
345598,5:59:58,4,2,3,1,110,오장동사거리,0,0,1,...,0,571705263,0,0,3,0,0,0,0,0
345599,5:59:59,4,2,3,1,110,오장동사거리,0,0,1,...,0,571705263,0,0,3,0,0,0,0,0

In [6]:
m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345600 entries, 0 to 345599
Data columns (total 14 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   시간        345600 non-null  object
 1   TOD       345600 non-null  int64
 2   패턴        345600 non-null  int64
 3   현시        345600 non-null  int64
 4   연동        345600 non-null  int64
 5   주기        345600 non-null  int64
 6   기준        345600 non-null  object
 7   좌회전신호     345600 non-null  int64
 8   비보호좌회전신호  345600 non-null  int64
 9   직진신호      345600 non-null  int64
 10  적색신호      345600 non-null  int64
 11  황색신호      345600 non-null  int64
 12  보행신호      345600 non-null  int64
 13  기준link    345600 non-null  int64
dtypes: int64(12), object(2)
memory usage: 36.9+ MB

In [7]:
j[j['기준'] == '호텔피제이앞']

,시간,TOD,패턴,현시,연동,주기,기준,좌회전신호,직진신호,적색신호,...,비보호좌회전신호,기준link,보행자좌회전상충,보행자직진상충,보행자우회전상충,보행자비보호좌회전상충,차량좌회전상충,차량직진상충,차량우회전상충,차량비보호좌회전상충
86400,6:00:00,4,1,1,67,110,호텔피제이앞,0,0,1,...,0,478708611,0,0,0,0,0,0,1,0
86401,6:00:01,4,1,1,67,110,호텔피제이앞,0,0,1,...,0,478708611,0,0,0,0,0,0,1,0
86402,6:00:02,4,1,1,67,110,호텔피제이앞,0,0,1,...,0,478708611,0,0,0,0,0,0,1,0
86403,6:00:03,4,1,1,67,110,호텔피제이앞,0,0,1,...,0,478708611,0,0,0,0,0,0,1,0
86404,6:00:04,4,1,1,67,110,호텔피제이앞,0,0,1,...,0,478708611,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172795,5:59:55,4,2,3,1,110,호텔피제이앞,0,0,1,...,0,478708611,0,0,3,0,0,0,0,0
172796,5:59:56,4,2,3,1,110,호텔피제이앞,0,0,1,...,0,478708611,0,0,3,0,0,0,0,0
172797,5:59:57,4,2,3,1,110,호텔피제이앞,0,0,1,...,0,478708611,0,0,3,0,0,0,0,0
172798,5:59:58,4,2,3,1,110,호텔피제이앞,0,0,1,...,0,478708611,0,0,3,0,0,0,0,0
172799,5:59:59,4,2,3,1,110,호텔피제이앞,0,0,1,...,0,478708611,0,0,3,0,0,0,0,0

In [8]:
m['시간'][0]

'0:00:00'

In [10]:
j['시간'][0]

'6:00:00'

In [9]:
header = ['p_reqdate', 'trip_init_session_id', 'mesh_cd', 'link_id', 'link_dir', 'gps_x', 'gps_y', 'gps_tm', 'speed_gps', 
          'altitude', 'angle', 'depart_name', 'dest_name', 'dest_poiid', 'dest_x', 'dest_y', 'cb_name', 'car_model', 'car_fuel', 'car_displacement', 'car_modelYear']

In [36]:
df = pd.read_csv('J:/티맵포인트/part-00000-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv', header=None)
df.columns = header
df

,p_reqdate,trip_init_session_id,mesh_cd,link_id,link_dir,gps_x,gps_y,gps_tm,speed_gps,altitude,...,depart_name,dest_name,dest_poiid,dest_x,dest_y,cb_name,car_model,car_fuel,car_displacement,car_modelYear
0,20220411,105020220411021525933S00,5717,6797,0,127.019486,37.564461,20220411114303,2,75,...,서울특별시 중구 다산동,청계천두산위브더제니스,2.738501e+06,127.018944,37.563778,주요건물,CT_NORMAL,FT_GAS,NaN,NaN
1,20220411,105020220411052621740S00,5717,43485,0,126.999947,37.563311,20220411110342,0,0,...,서울특별시 서대문구 홍은1동,바이브록,5.817050e+06,127.317222,36.633361,업종별기업,CT_NORMAL,FT_GAS,NaN,NaN
2,20220411,105020220411052621740S00,5717,43485,0,126.999931,37.563308,20220411110344,0,0,...,서울특별시 서대문구 홍은1동,바이브록,5.817050e+06,127.317222,36.633361,업종별기업,CT_NORMAL,FT_GAS,NaN,NaN
3,20220411,105020220411052621740S00,5717,43485,0,126.999931,37.563308,20220411110347,0,0,...,서울특별시 서대문구 홍은1동,바이브록,5.817050e+06,127.317222,36.633361,업종별기업,CT_NORMAL,FT_GAS,NaN,NaN
4,20220411,105020220411052621740S00,5717,43485,0,126.999931,37.563308,20220411110351,0,0,...,서울특별시 서대문구 홍은1동,바이브록,5.817050e+06,127.317222,36.633361,업종별기업,CT_NORMAL,FT_GAS,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51886,20220411,105020220411104813050S00,4787,9562,0,126.966519,37.570033,20220411115526,44,79,...,서울특별시 성북구 장위3동,경기 파주시 탄현면 문지리 535,3.006293e+09,126.719833,37.827556,NaN,CT_NORMAL,FT_GAS,NaN,NaN
51887,20220411,105020220411104813050S00,4787,13002,0,126.966161,37.569728,20220411115530,43,79,...,서울특별시 성북구 장위3동,경기 파주시 탄현면 문지리 535,3.006293e+09,126.719833,37.827556,NaN,CT_NORMAL,FT_GAS,NaN,NaN
51888,20220411,105020220411104813050S00,4787,13002,0,126.965739,37.569636,20220411115534,33,83,...,서울특별시 성북구 장위3동,경기 파주시 탄현면 문지리 535,3.006293e+09,126.719833,37.827556,NaN,CT_NORMAL,FT_GAS,NaN,NaN
51889,20220411,105020220411104813050S00,4787,13002,0,126.965328,37.569633,20220411115537,48,84,...,서울특별시 성북구 장위3동,경기 파주시 탄현면 문지리 535,3.006293e+09,126.719833,37.827556,NaN,CT_NORMAL,FT_GAS,NaN,NaN
51890,20220411,105020220411104813050S00,4787,13002,0,126.964597,37.569628,20220411115540,47,83,...,서울특별시 성북구 장위3동,경기 파주시 탄현면 문지리 535,3.006293e+09,126.719833,37.827556,NaN,CT_NORMAL,FT_GAS,NaN,NaN

In [13]:
files = os.listdir('J:/티맵포인트')
files

['part-00000-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00001-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00002-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00003-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00004-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00005-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00006-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00007-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00008-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00009-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00010-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00011-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00012-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00013-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00014-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00015-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00016-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00017-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00018-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00019-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00020-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00021-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00022-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00023-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00024-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00025-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00026-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00027-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00028-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00029-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00030-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00031-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00032-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00033-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00034-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00035-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00036-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00037-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00038-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00039-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00040-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00041-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00042-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00043-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00044-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00045-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00046-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00047-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00048-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00049-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'p_reqdate=20220411.zip',
 'p_reqdate=20220411.zip.temp',
 '~$데이터정의서.xlsx',
 '데이터정의서.xlsx']

In [14]:
df['link_dir'].unique()

array([0, 1], dtype=int64)

In [18]:
# files.remove('p_reqdate=20220411.zip')
# files.remove('p_reqdate=20220411.zip.temp')
# files.remove('~$데이터정의서.xlsx')
# files.remove('데이터정의서.xlsx')
files.remove('part-00000-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv')

In [19]:
files

['part-00001-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00002-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00003-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00004-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00005-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00006-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00007-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00008-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00009-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00010-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00011-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00012-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00013-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00014-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00015-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00016-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00017-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00018-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00019-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00020-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00021-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00022-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00023-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00024-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00025-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00026-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00027-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00028-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00029-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00030-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00031-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00032-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00033-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00034-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00035-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00036-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00037-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00038-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00039-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00040-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00041-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00042-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00043-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00044-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00045-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00046-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00047-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00048-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv',
 'part-00049-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv']

In [37]:
for file in files:
    tmp = pd.read_csv('J:/티맵포인트/' + file, header=None)
    tmp.columns = header
    print(file)
    df = pd.concat([df, tmp])

part-00001-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00002-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00003-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00004-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00005-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00006-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00007-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00008-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00009-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00010-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00011-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00012-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00013-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00014-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00015-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00016-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00017-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00018-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00019-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00020-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00021-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00022-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00023-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00024-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00025-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00026-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00027-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00028-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00029-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00030-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00031-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00032-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00033-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00034-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00035-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00036-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00037-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00038-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00039-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00040-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00041-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00042-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00043-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00044-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00045-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00046-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00047-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00048-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv
part-00049-24cc63dc-c961-47db-bae2-a7b89a52ab6d.c000.csv

In [39]:
df

,p_reqdate,trip_init_session_id,mesh_cd,link_id,link_dir,gps_x,gps_y,gps_tm,speed_gps,altitude,...,depart_name,dest_name,dest_poiid,dest_x,dest_y,cb_name,car_model,car_fuel,car_displacement,car_modelYear
0,20220411,105020220411021525933S00,5717,6797,0,127.019486,37.564461,20220411114303,2,75,...,서울특별시 중구 다산동,청계천두산위브더제니스,2738501.0,127.018944,37.563778,주요건물,CT_NORMAL,FT_GAS,NaN,NaN
1,20220411,105020220411052621740S00,5717,43485,0,126.999947,37.563311,20220411110342,0,0,...,서울특별시 서대문구 홍은1동,바이브록,5817050.0,127.317222,36.633361,업종별기업,CT_NORMAL,FT_GAS,NaN,NaN
2,20220411,105020220411052621740S00,5717,43485,0,126.999931,37.563308,20220411110344,0,0,...,서울특별시 서대문구 홍은1동,바이브록,5817050.0,127.317222,36.633361,업종별기업,CT_NORMAL,FT_GAS,NaN,NaN
3,20220411,105020220411052621740S00,5717,43485,0,126.999931,37.563308,20220411110347,0,0,...,서울특별시 서대문구 홍은1동,바이브록,5817050.0,127.317222,36.633361,업종별기업,CT_NORMAL,FT_GAS,NaN,NaN
4,20220411,105020220411052621740S00,5717,43485,0,126.999931,37.563308,20220411110351,0,0,...,서울특별시 서대문구 홍은1동,바이브록,5817050.0,127.317222,36.633361,업종별기업,CT_NORMAL,FT_GAS,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51903,20220411,355220220411113849962S00,5717,12838,0,127.002408,37.546453,20220411115113,54,0,...,서울특별시 종로구 이화동,경기 수원시 권선구 매송고색로794번길 201,NaN,126.993611,37.241861,NaN,NaN,NaN,NaN,NaN
51904,20220411,355220220411113849962S00,5717,12838,0,127.002772,37.546169,20220411115116,56,0,...,서울특별시 종로구 이화동,경기 수원시 권선구 매송고색로794번길 201,NaN,126.993611,37.241861,NaN,NaN,NaN,NaN,NaN
51905,20220411,355220220411113849962S00,5717,12838,0,127.003161,37.545867,20220411115119,57,0,...,서울특별시 종로구 이화동,경기 수원시 권선구 매송고색로794번길 201,NaN,126.993611,37.241861,NaN,NaN,NaN,NaN,NaN
51906,20220411,355220220411113849962S00,5717,12838,0,127.003536,37.545572,20220411115122,55,0,...,서울특별시 종로구 이화동,경기 수원시 권선구 매송고색로794번길 201,NaN,126.993611,37.241861,NaN,NaN,NaN,NaN,NaN
51907,20220411,355220220411113849962S00,5717,12838,0,127.003900,37.545289,20220411115125,53,0,...,서울특별시 종로구 이화동,경기 수원시 권선구 매송고색로794번길 201,NaN,126.993611,37.241861,NaN,NaN,NaN,NaN,NaN

In [40]:
df.to_csv('J:/티맵포인트/p_reqdate=20220411.csv', index=False)

In [41]:
len(df['trip_init_session_id'].unique())

18777