In [1]:
import pandas as pd

In [3]:
link = pd.read_csv('D:/서울시신호/데이터/GIS/한양도성/을지로동_link.csv', encoding='euc-kr')
node = pd.read_csv('D:/서울시신호/데이터/GIS/한양도성/을지로동_node.csv', encoding='euc-kr')

In [4]:
link

,link_id,up_f_node,up_t_node,dw_f_node,dw_t_node,max_speed,road_name,road_no,road_rank,link_type,...,up_v_link,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source
0,478700386,222614,343922,0,0,60,창경궁로,0,104,32768,...,47870038601,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
1,478700473,340758,222911,222911,340758,60,을지로,0,104,4,...,47870047301,47870047302,20171231,NaN,NaN,NaN,NaN,NaN,0,0
2,478700847,222614,343321,0,0,50,청계천로,0,104,1,...,47870084701,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
3,478702212,222615,223364,223364,222615,60,마른내로,0,104,32768,...,47870221201,47870221202,20171231,NaN,NaN,NaN,NaN,NaN,0,0
4,478702231,221695,223366,223366,221695,60,수표로,0,104,32768,...,47870223101,47870223102,20171231,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,571723742,343922,340739,0,0,60,창경궁로,0,104,32768,...,57172374201,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
63,571725265,340785,340784,0,0,60,창경궁로,0,104,32768,...,57172526501,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
64,571725267,342911,344049,344049,342911,60,을지로,0,104,32768,...,57172526701,57172526702,20171231,NaN,NaN,NaN,NaN,NaN,0,0
65,571742588,614011,343309,0,0,0,동호로,0,104,4,...,57174258801,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
66,571742589,614011,340796,0,0,50,청계천로,0,104,4,...,57174258901,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0

In [6]:
node

,node_id,node_type,node_name,tra_light,toll_id,num_link,x,y,sido_id,sigungu_id,emd_id,m_date,rc_id,rc_hist,old_node_i
0,221695,101,중부경찰서앞,3,0,4,954959.537,1951842.020,11000,11020,1102060,20171231,NaN,NaN,NaN
1,221699,101,을지로3가역,3,0,4,954940.277,1951998.360,11000,11020,1102060,20171231,NaN,NaN,NaN
2,221702,101,청계4가,3,0,4,955664.007,1952305.464,11000,11010,1101061,20171231,NaN,NaN,NaN
3,221705,101,NaN,0,0,3,954924.800,1952195.206,11000,11020,1102055,20171231,NaN,NaN,NaN
4,222614,101,청계4가,3,0,4,955665.437,1952271.359,11000,11020,1102060,20171231,NaN,NaN,NaN
5,222615,101,명보사거리,4,0,4,955213.967,1951790.576,11000,11020,1102060,20171231,NaN,NaN,NaN
6,222616,101,을지로3가,4,0,4,955193.818,1952014.262,11000,11020,1102060,20171231,NaN,NaN,NaN
7,222617,101,청계3가,3,0,4,955174.207,1952219.083,11000,11020,1102060,20171231,NaN,NaN,NaN
8,222618,101,청계3가,4,0,4,955171.715,1952253.058,11000,11010,1101061,20171231,NaN,NaN,NaN
9,222911,101,을지로4가,0,0,3,955611.513,1952037.034,11000,11020,1102060,20171231,NaN,NaN,NaN
10,223252,103,NaN,0,0,2,955207.941,1951860.581,11000,11020,1102060,20171231,NaN,NaN,NaN
11,223360,103,대림상가앞,0,0,2,955471.169,1952029.104,11000,11020,1102060,20171231,NaN,NaN,NaN
12,223362,103,NaN,0,0,2,955198.933,1951956.936,11000,11020,1102060,20171231,NaN,NaN,NaN
13,223363,103,NaN,3,0,2,955231.405,1951600.864,11000,11020,1102057,20171231,NaN,NaN,NaN
14,223364,103,NaN,0,0,2,955445.524,1951775.561,11000,11020,1102059,20171231,NaN,NaN,NaN
15,223366,101,NaN,0,0,3,954998.524,1951535.714,11000,11020,1102057,20171231,NaN,NaN,NaN
16,223368,101,NaN,0,0,3,954933.700,1952060.427,11000,11020,1102055,20171231,NaN,NaN,NaN
17,224041,103,NaN,0,0,2,955260.958,1952018.555,11000,11020,1102060,20171231,NaN,NaN,NaN
18,224643,101,명동성당,0,0,3,954822.007,1951816.049,11000,11020,1102055,20171231,NaN,NaN,NaN
19,224881,101,NaN,0,0,3,955410.791,1952239.956,11000,11020,1102060,20171231,NaN,NaN,NaN
20,224882,101,NaN,0,0,3,955405.251,1952271.478,11000,11010,1101061,20171231,NaN,NaN,NaN
21,224883,101,NaN,0,0,3,955440.690,1952274.602,11000,11010,1101061,20171231,NaN,NaN,NaN
22,224884,101,NaN,0,0,3,955453.099,1952243.680,11000,11020,1102060,20171231,NaN,NaN,NaN
23,225699,103,NaN,0,0,2,955183.126,1952133.599,11000,11020,1102060,20171231,NaN,NaN,NaN
24,226633,101,NaN,0,0,3,954944.907,1951949.965,11000,11020,1102060,20171231,NaN,NaN,NaN
25,340590,101,을지로4가,0,0,3,955742.296,1952045.412,11000,11020,1102060,20171231,NaN,NaN,NaN
26,340591,101,을지로4가,3,0,3,955676.377,1952099.480,11000,11020,1102060,20171231,NaN,NaN,NaN
27,340739,101,을지로4가,0,0,3,955675.242,1952113.094,11000,11020,1102060,20171231,NaN,NaN,NaN
28,340748,101,NaN,0,0,3,956432.932,1952354.902,11000,11020,1102059,20171231,NaN,NaN,NaN
29,340758,101,을지로4가,3,0,4,955679.810,1952041.145,11000,11020,1102060,20171231,NaN,NaN,NaN
30,340759,101,을지로5가,4,0,4,956044.560,1952063.198,11000,11020,1102060,20171231,NaN,NaN,NaN
31,340784,101,중구청,4,0,4,955696.311,1951786.763,11000,11020,1102059,20171231,NaN,NaN,NaN
32,340785,103,NaN,0,0,2,955683.363,1951977.874,11000,11020,1102060,20171231,NaN,NaN,NaN
33,340796,101,청계5가,0,0,4,956027.813,1952352.253,11000,11020,1102060,20171231,NaN,NaN,NaN
34,340797,101,청계5가,4,0,4,956025.751,1952387.542,11000,11010,1101063,20171231,NaN,NaN,NaN
35,341851,107,NaN,0,0,2,956046.666,1952025.348,11000,11020,1102060,20171231,NaN,NaN,NaN
36,341852,107,NaN,0,0,2,956213.570,1952043.664,11000,11020,1102059,20171231,NaN,NaN,NaN
37,342248,103,NaN,0,0,2,955887.284,1952055.366,11000,11020,1102060,20171231,NaN,NaN,NaN
38,342753,103,NaN,0,0,2,956035.181,1952235.335,11000,11020,1102060,20171231,NaN,NaN,NaN
39,342842,103,NaN,0,0,2,956054.377,1951914.492,11000,11020,1102060,20171231,NaN,NaN,NaN
40,342911,103,NaN,0,0,2,955771.618,1952047.442,11000,11020,1102060,20171231,NaN,NaN,NaN
41,343126,103,NaN,0,0,2,955671.483,1952109.201,11000,11020,1102060,20171231,NaN,NaN,NaN
42,343268,101,을지로5가,0,0,4,956046.263,1952030.594,11000,11020,1102060,20171231,NaN,NaN,NaN
43,343269,101,을지로5가,0,0,4,956085.849,1952064.791,11000,11020,1102060,20171231,NaN,NaN,NaN
44,343270,101,을지로5가,0,0,4,956042.471,1952097.736,11000,11020,1102060,20171231,NaN,NaN,NaN
45,343271,101,을지로5가,0,0,4,956004.831,1952061.862,11000,11020,1102060,20171231,NaN,NaN,NaN
46,343309,101,청계5가,0,0,4,956028.288,1952333.387,11000,11020,1102060,20171231,NaN,NaN,NaN
47,343310,101,청계5가,0,0,3,956049.892,1952353.370,11000,11020,1102060,20171231,NaN,NaN,NaN
48,343321,103,NaN,0,0,2,955756.506,1952293.397,11000,11020,1102060,20171231,NaN,NaN,NaN
49,343922,103,NaN,0,0,2,955670.029,1952189.039,11000,11020,1102060,20171231,NaN,NaN,NaN
50,344049,103,NaN,0,0,2,955785.826,1952048.517,11000,11020,1102060,20171231,NaN,NaN,NaN
51,582380,101,NaN,0,0,3,954821.964,1951994.796,11000,11020,1102055,20171231,NaN,NaN,NaN
52,582381,103,NaN,0,0,2,955138.703,1952010.409,11000,11020,1102060,20171231,NaN,NaN,NaN
53,582382,103,NaN,0,0,2,955040.618,1952003.766,11000,11020,1102060,20171231,NaN,NaN,NaN
54,582398,104,NaN,0,0,1,954858.860,1951841.111,11000,11020,1102060,20171231,NaN,NaN,NaN
55,582399,101,NaN,0,0,3,954858.820,1951825.241,11000,11020,1102060,20171231,NaN,NaN,NaN
56,614011,101,청계5가,0,0,3,956012.418,1952351.172,11000,11020,1102060,20171231,NaN,NaN,NaN

In [7]:
link_inter = link[link['link_type'] == 4]
link_inter

,link_id,up_f_node,up_t_node,dw_f_node,dw_t_node,max_speed,road_name,road_no,road_rank,link_type,...,up_v_link,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source
1,478700473,340758,222911,222911,340758,60,을지로,0,104,4,...,47870047301,47870047302,20171231,NaN,NaN,NaN,NaN,NaN,0,0
17,478703267,343126,222911,0,0,30,을지로,0,104,4,...,47870326701,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
39,571704897,340590,340758,340758,340590,60,을지로,0,104,4,...,57170489701,57170489702,20171231,NaN,NaN,NaN,NaN,NaN,0,0
40,571704957,340590,340591,0,0,30,NaN,0,104,4,...,57170495701,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
41,571704966,340739,340591,0,0,60,창경궁로,0,104,4,...,57170496601,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
42,571704969,340591,340758,0,0,60,창경궁로,0,104,4,...,57170496901,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
46,571715261,340739,343126,0,0,30,을지로,0,104,4,...,57171526101,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
48,571716367,343268,343269,0,0,0,을지로,0,104,4,...,57171636701,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
49,571716368,343269,343270,0,0,0,동호로,0,104,4,...,57171636801,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
50,571716369,343270,343271,0,0,0,을지로,0,104,4,...,57171636901,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
51,571716370,343271,343268,0,0,0,동호로,0,104,4,...,57171637001,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
52,571716371,340759,343268,343268,340759,60,동호로,0,104,4,...,57171637101,57171637102,20171231,NaN,NaN,NaN,NaN,NaN,0,0
54,571716374,340759,343269,343269,340759,60,을지로,0,104,4,...,57171637401,57171637402,20171231,NaN,NaN,NaN,NaN,NaN,0,0
55,571716375,340759,343270,343270,340759,60,동호로,0,104,4,...,57171637501,57171637502,20171231,NaN,NaN,NaN,NaN,NaN,0,0
56,571716377,340759,343271,343271,340759,60,을지로,0,104,4,...,57171637701,57171637702,20171231,NaN,NaN,NaN,NaN,NaN,0,0
57,571716521,343309,343310,0,0,50,청계천로,0,104,4,...,57171652101,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
59,571716523,340796,343310,0,0,50,청계천로,0,104,4,...,57171652301,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
60,571716524,340796,343309,343309,340796,60,동호로,0,104,4,...,57171652401,57171652402,20171231,NaN,NaN,NaN,NaN,NaN,0,0
65,571742588,614011,343309,0,0,0,동호로,0,104,4,...,57174258801,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
66,571742589,614011,340796,0,0,50,청계천로,0,104,4,...,57174258901,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0